.practices {
	margin-top: 30px;
	margin-bottom: 100px;

	&__container {

	}
	&__title {
		margin-bottom: 40px;
	}
	&__list {

	}
	&__item {
		margin-bottom: 60px;
		display: flex;
		//align-items: center;
		justify-content: center;
		&:nth-child(2n) {
			flex-direction: row-reverse;
		}
	}
	&__item-text-wrap {
		//width: calc(~"100% - 360px - 120px");
		//margin-right: 120px;
		width: 50%;
		min-width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		//border-top: 2px solid #B0C1C0;
		border-top: 2px solid #F6FAF9;
		//border-bottom: 2px solid #B0C1C0;
		border-bottom: 2px solid #F6FAF9;
		position: relative;
		.practices__item:nth-child(2n) & {
			margin-right: 0;
		}
	}
	&__item-title {
		font-size: @25;
		color: @text-color;
		.light();
		line-height: 1.3;
		margin-bottom: 9px;
		text-align: center;
	}
	&__item-desc {
		margin-bottom: 25px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	&__item-logo-list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	&__item-logo-item {
		text-decoration: none;
		margin-right: 30px;
		margin-bottom: 10px;
		filter: grayscale(100%);
		.std-transition();
		&:hover {
			//filter: grayscale(0);
		}
	}
	&__item-logo-item-img {
		max-height: 50px;

	}

	&__item-img-container {
		display: flex;
		justify-content: center;
		width: 50%;
		min-width: 50%;
	}
	&__item-img-wrap {
		width: 360px;
		position: relative;

		//.practices__item:nth-child(2n) & {
		//	margin-right: 120px;
		//}
	}
	&__item-img {
		max-width: 100%;
	}
	&__item-img-icon {
		position: absolute;
		&_bottom {
			right: -30px;
			bottom: 60px;
			.animate-circle();
			transition-delay: 200ms;
		}
		&_top {
			top: 60px;
			left: -60px;
			.animate-translate();
			transform: translate(-100px, 50px);
			transition-duration: 1s;
			transition-delay: 400ms;
		}
	}
}

@media screen and (max-width: 900px) {
	.practices {

		&__list {
			padding-left: 0;
			padding-right: 0;
		}
		&__item {
			margin-bottom: 60px;
			flex-direction: column-reverse;
			&:nth-child(2n) {
				flex-direction: column-reverse;
			}
		}
		&__item-text-wrap {
			width: 100%;
			margin-right: 0;
			padding-top: 50px;
			padding-bottom: 50px;
			.practices__item:nth-child(2n) & {
				margin-bottom: 30px;
			}
		}
		&__item-desc {
			width: 100%;
		}
		&__item-img-container {
			width: 100%;
			margin-bottom: 30px;
			justify-content: center;
			align-items: flex-start;
			//.practices__item:nth-child(2n) & {
			//	margin-right: 0;
			//}
		}
	}
}

@media screen and (max-width: 400px) {
	.practices {
		&__item-img-wrap {
			width: 280px;
			min-width: 280px;
		}
		&__item-img-icon {
			max-width: 70px;
			max-height: 70px;
			&_bottom {
				right: -10px;
			}
			&_top {
				left: -10px;
			}
		}
	}
}