{% extends 'parts/layout.twig' %}

{% block title %}
	<title>IdeaGrande</title>
{% endblock %}

{% block header %}
	{#HEADER#}
	<header class="header">
		<div class="header__container container">
			<div class="header__menu">
				<a href="#" class="header__menu-item header__menu-item_active">about</a>
				<a href="#" class="header__menu-item">services</a>
				<a href="#" class="header__menu-item">cases</a>
				<a href="#" class="header__menu-item">blog</a>
				<a href="#" class="header__menu-item">school</a>
				<a href="#" class="header__menu-item">contacts</a>
			</div>

			<div class="header__logo">
				<img class="header__logo-img" src="img/logo.svg">
			</div>

			<div class="header__right-part">
				<div class="header__socials">
					<a href="#" class="header__socials-link">telegram</a>
					<a href="#" class="header__socials-link">facebook</a>
					<a href="#" class="header__socials-link">instagram</a>
				</div>
				<div class="header__languages">
					<a href="#" class="header__languages-item">rus</a>
					<a href="#" class="header__languages-item header__languages-item_active">eng</a>
				</div>
			</div>

			<a href="#" class="header__burger js-menu-toggler">
				<span class="header__burger-line"></span>
				<span class="header__burger-line"></span>
				<span class="header__burger-line"></span>
			</a>
		</div>
	</header>
	{#/HEADER#}
{% endblock %}

{% block content %}
	{#WHO WE ARE#}
	<div class="who-we-are container container_special">
		<div class="who-we-are__container small-container">
			<h2 class="who-we-are__title block-title">who we are</h2>
			<div class="who-we-are__text">
				<div class="info-box">
					<p>PR Idea Grande is a creative team of PR professionals which has been operating in Russia and CIS since 2008. We are experts in Lifestyle PR and permanently create absolutely crazy but effectively working IDEAs!</p>
				</div>
			</div>
			<div class="who-we-are__detail-1 js-detail"></div>
			<div class="who-we-are__detail-2 js-detail"></div>
		</div>
		<div class="who-we-are__detail-3 js-detail"></div>
	</div>
	{#/WHO WE ARE#}

	{#CASES#}
	<div class="cases">
		<div class="cases__container container">
			<div class="cases__bg fade-block"></div>
			<div class="cases__content">
				<h2 class="cases__title block-title">what we do</h2>
				<div class="cases__list">
					<div class="cases__column">
						<a href="#" class="cases__item cases__item_bg" style="background-image: url(images/cases-img-1.jpg)">
							<p class="cases__item-date">September 17</p>
							<p class="cases__item-title">
								<span class="cases__item-title-part">Tour of Chef Jean-Luc Figueras</span>
								<span class="cases__item-title-part">Mandarin Barcelona</span>
							</p>
						</a>
					</div>
					<div class="cases__column">
						<a href="#" class="cases__item">
							<div class="cases__item-title">
								<p class="cases__item-title-part">Coffeemania</p>
								<p class="cases__item-title-part">Mandarin Lufthansa</p>
							</div>
							<div class="cases__item-image" style="background-image: url(images/cases-img-2.jpg)">
								<p class="cases__item-date">September 17</p>
								<div class="cases__item-detail js-detail"></div>
							</div>
						</a>
						<div class="cases__fact">
							<p class="cases__fact-text">Sent 772 releases</p>
							{#<p class="cases__fact-text">Разослали 772 релиза</p>#}
							<div class="cases__fact-detail js-detail"></div>
						</div>
					</div>
					<div class="cases__column">
						<div class="cases__fact">
							<p class="cases__fact-text">Performed 59 events</p>
							{#<p class="cases__fact-text">Провели 59 мероприятий</p>#}
							<div class="cases__fact-detail js-detail"></div>
						</div>
						<a href="#" class="cases__item">
							<div class="cases__item-image" style="background-image: url(images/cases-img-3.png)">
								<p class="cases__item-date">August 20</p>
								<div class="cases__item-detail js-detail"></div>
							</div>
							<div class="cases__item-title">
								<p class="cases__item-title-part">Thai Friend Club B-Day</p>
								<p class="cases__item-title-part">Amazing Thailand</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{#/CASES#}

	{#FEATURE EVENT#}
	<a href="#" class="feature-event">
		<div class="feature-event__container container">
			<div class="feature-event__bg" style="background-image: url(images/feature-event-bg.jpg)">
				<div class="feature-event__text-wrap small-container">
					<h2 class="feature-event__title block-title">feature event</h2>
					<p class="feature-event__desc">
						A Modern Take on Vintage
						<br>
						African Mud Cloth
					</p>
					<p class="feature-event__info">Bar Bouldur, London x September 17</p>
					<div class="feature-event__detail js-detail"></div>
				</div>
			</div>
		</div>
	</a>
	{#/FEATURE EVENT#}

	{#INSTAGRAM#}
	<div class="instagram container container_special">
		<h2 class="instagram__title block-title small-container">instagram cast</h2>
		<div class="instagram__wrap">
			<div class="instagram__main-photo">
				<img class="instagram__main-photo-img" src="images/insta-1.jpg">
				<div class="instagram__main-photo-detail js-detail"></div>
			</div>
			<div class="instagram__list">
				<div class="instagram__item">
					<img class="instagram__item-img" src="images/insta-2.jpg">
				</div>
				<div class="instagram__item">
					<img class="instagram__item-img" src="images/insta-3.jpg">
				</div>
				<div class="instagram__item">
					<img class="instagram__item-img" src="images/insta-4.jpg">
				</div>
				<div class="instagram__item">
					<img class="instagram__item-img" src="images/insta-5.jpg">
				</div>
			</div>
			<div class="instagram__link-wrap">
				<div class="instagram__link" style="background-image: url(images/insta-6.jpg)">
				</div>
				<div class="instagram__link-info">
					<div class="instagram__link-detail js-detail"></div>
					<a href="#" target="_blank" class="instagram__link-text">More shots on @pr_ideagrande</a>
				</div>
			</div>
		</div>
	</div>
	{#/INSTAGRAM#}

	{#CLIENTS#}
	<div class="clients">
		<div class="small-container">
			<h2 class="clients__title block-title small-container">clients</h2>
		</div>

		<div class="clients__list middle-container">
			<div class="clients__item-wrap">
				<a href="#" class="clients__item">
					<img class="clients__item-logo" src="images/logo-1.png">
				</a>
			</div>
			<div class="clients__item-wrap">
				<a href="#" class="clients__item">
					<img class="clients__item-logo" src="images/logo-2.png">
				</a>
			</div>
			<div class="clients__item-wrap">
				<a href="#" class="clients__item">
					<img class="clients__item-logo" src="images/logo-11.png">
				</a>
			</div>
			<div class="clients__item-wrap">
				<a href="#" class="clients__item">
					<img class="clients__item-logo" src="images/logo-8.png">
				</a>
			</div>
			<div class="clients__item-wrap">
				<a href="#" class="clients__item">
					<img class="clients__item-logo" src="images/logo-7.png">
				</a>
			</div>
			<div class="clients__item-wrap">
				<a href="#" class="clients__item">
					<img class="clients__item-logo" src="images/logo-5.png">
				</a>
			</div>
			<div class="clients__item-wrap">
				<a href="#" class="clients__item">
					<img class="clients__item-logo" src="images/logo-3.png">
				</a>
			</div>
			<div class="clients__item-wrap">
				<a href="#" class="clients__item">
					<img class="clients__item-logo" src="images/logo-4.png">
				</a>
			</div>
			<div class="clients__item-wrap">
				<a href="#" class="clients__item">
					<img class="clients__item-logo" src="images/logo-9.png">
				</a>
			</div>
			<div class="clients__item-wrap">
				<a href="#" class="clients__item">
					<img class="clients__item-logo" src="images/logo-12.png">
				</a>
			</div>
			<div class="clients__item-wrap">
				<a href="#" class="clients__item">
					<img class="clients__item-logo" src="images/logo-6.png">
				</a>
			</div>
			<div class="clients__item-wrap">
				<a href="#" class="clients__item">
					<img class="clients__item-logo" src="images/logo-10.png">
				</a>
			</div>
		</div>

		<div class="small-container">
			<div class="clients__text-wrap">
				<div class="clients__text">
					We work with 36 brands
				</div>
				<i class="clients__text-shape js-detail"></i>
			</div>

		</div>
	</div>
	{#CLIENTS#}
{% endblock %}
