{% extends 'parts/layout.twig' %}

{% block title %}
	<title>IdeaGrande - Cases</title>
{% endblock %}


{% block content %}
{#CASES#}
	<div class="portfolio">
		<div class="portfolio__container middle-container">
			<h1 class="portfolio__title page-title">Cases</h1>
			<div class="portfolio__list">
				{#ITEM#}
				<a href="#" class="portfolio__item portfolio__item_photo">
					<img src="img/1x1.png" data-src="images/cases-img-3.png" alt="" class="portfolio__item-img lazyload">
					<p class="portfolio__item-date">August 20</p>
					<div class="portfolio__item-title">
						<p class="portfolio__item-title-part">Thai Friend Club B-D</p>
						<p class="portfolio__item-title-part">Amazing Thailand</p>
					</div>
				</a>
				{#/ITEM#}

				{#ITEM#}
				<a href="#" class="portfolio__item portfolio__item_photo">
					<img src="img/1x1.png" data-src="images/cases-img-3.png" alt="" class="portfolio__item-img lazyload">
					<p class="portfolio__item-date">August 20</p>
					<div class="portfolio__item-title">
						<p class="portfolio__item-title-part">Asia Days at Tsvetnoy central market</p>
						<p class="portfolio__item-title-part">TAT, Anantara, Avani</p>
					</div>
				</a>
				{#/ITEM#}

				{#ITEM#}
				<a href="#" class="portfolio__item portfolio__item_no-photo portfolio__item_icon-bottom">
					<div class="portfolio__item-img">
						<p class="portfolio__item-date">August 20</p>
						<div class="portfolio__item-service-type portfolio__item-service-type_bottom">
							<img src="img/1x1.png" data-src="img/icon-serv-media-communications.svg" class="portfolio__item-service-type-img lazyload js-detail detail-animate-scale detail-transform-origin-left-bottom">
						</div>
					</div>
					<div class="portfolio__item-title">
						<p class="portfolio__item-title-part">Asia Days at Tsvetnoy central market</p>
						<p class="portfolio__item-title-part">TAT, Anantara, Avani</p>
					</div>
				</a>
				{#/ITEM#}

				{#ITEM#}
				<a href="#" class="portfolio__item portfolio__item_no-photo portfolio__item_icon-top">
					<div class="portfolio__item-img">
						<p class="portfolio__item-date">August 20</p>
						<div class="portfolio__item-service-type portfolio__item-service-type_bottom">
							<img src="img/1x1.png" data-src="img/icon-serv-design-and-branding.svg" class="portfolio__item-service-type-img lazyload js-detail detail-animate-move-from-right detail-transition-delay_500">
						</div>
					</div>
					<div class="portfolio__item-title">
						<p class="portfolio__item-title-part">Asia Days at Tsvetnoy central market</p>
						<p class="portfolio__item-title-part">TAT, Anantara, Avani</p>
					</div>
				</a>
				{#/ITEM#}

				{#ITEM#}
				<a href="#" class="portfolio__item portfolio__item_photo">
					<img src="img/1x1.png" data-src="images/cases-img-3.png" alt="" class="portfolio__item-img lazyload">
					<p class="portfolio__item-date">August 20</p>
					<div class="portfolio__item-title">
						<p class="portfolio__item-title-part">Thai Friend Club B-D</p>
						<p class="portfolio__item-title-part">Amazing Thailand</p>
					</div>
				</a>
				{#/ITEM#}

				{#ITEM#}
				<a href="#" class="portfolio__item portfolio__item_photo">
					<img src="img/1x1.png" data-src="images/cases-img-3.png" alt="" class="portfolio__item-img lazyload">
					<p class="portfolio__item-date">August 20</p>
					<div class="portfolio__item-title">
						<p class="portfolio__item-title-part">Asia Days at Tsvetnoy central market</p>
						<p class="portfolio__item-title-part">TAT, Anantara, Avani</p>
					</div>
				</a>
				{#/ITEM#}

				{#ITEM#}
				<a href="#" class="portfolio__item portfolio__item_no-photo portfolio__item_icon-bottom">
					<div class="portfolio__item-img">
						<p class="portfolio__item-date">August 20</p>
						<div class="portfolio__item-service-type portfolio__item-service-type_bottom">
							<img src="img/1x1.png" data-src="img/icon-serv-special-projects.svg" class="portfolio__item-service-type-img lazyload js-detail detail-animate-scale">
						</div>
					</div>
					<div class="portfolio__item-title">
						<p class="portfolio__item-title-part">Asia Days at Tsvetnoy central market</p>
						<p class="portfolio__item-title-part">TAT, Anantara, Avani</p>
					</div>
				</a>
				{#/ITEM#}

				{#ITEM#}
				<a href="#" class="portfolio__item portfolio__item_no-photo portfolio__item_icon-top">
					<div class="portfolio__item-img">
						<p class="portfolio__item-date">August 20</p>
						<div class="portfolio__item-service-type portfolio__item-service-type_bottom">
							<img src="img/1x1.png" data-src="img/icon-serv-event-management.svg" class="portfolio__item-service-type-img lazyload js-detail detail-animate-scale detail-transition-delay-500">
						</div>
					</div>
					<div class="portfolio__item-title">
						<p class="portfolio__item-title-part">Asia Days at Tsvetnoy central market</p>
						<p class="portfolio__item-title-part">TAT, Anantara, Avani</p>
					</div>
				</a>
				{#/ITEM#}
			</div>
		</div>
	</div>
{#CASES#}
{% endblock %}
