{% extends 'parts/layout.twig' %}

{% block title %}
	<title>IdeaGrande - Cases</title>
{% endblock %}


{% block content %}
{#CASES#}
	<div class="portfolio-item">
		<div class="portfolio-item__container middle-container">
			<p class="portfolio-item__date">August 20</p>
			<h1 class="portfolio-item__title page-title">Asis days at Tsvetnoy central market</h1>
			<div class="portfolio-item__text">
				To change the attitude to a wellknown product could be a very difficult, almost impossible task. This case shows that there is always a good opportunity to promote popular travel direction. The only thing you need is a special angle on the story. High cuisine and expert spa solutions, for example
			</div>

			{#INFO LINE#}
			<div class="portfolio-item__info-line">
				<div class="portfolio-item__clients">
					<p class="portfolio-item__info-line-heading">Clients</p>
					<div class="portfolio-item__clients-list">
						<img src="img/1x1.png" data-src="images/client-logo-Tourism-Authority-of-Thailand.png" alt="" class="portfolio-item__clients-logo lazyload">
						<img src="img/1x1.png" data-src="images/client-logo-anantara.png" alt="" class="portfolio-item__clients-logo lazyload">
						<img src="img/1x1.png" data-src="images/client-logo-avani.png" alt="" class="portfolio-item__clients-logo lazyload">
					</div>
				</div>
				<div class="portfolio-item__services">
					<p class="portfolio-item__info-line-heading">Services</p>
					<div class="portfolio-item__services-list">
						<div class="portfolio-item__services-item">
							<a href="#" class="torquoise-link">
								<span class="torquoise-link__inner">
									Media Communications
								</span>
							</a>
						</div>
						<div class="portfolio-item__services-item">
							<a href="#" class="torquoise-link">
								<span class="torquoise-link__inner">
									Event management
								</span>
							</a>
						</div>
					</div>
				</div>
				<div class="portfolio-item__external">
					<p class="portfolio-item__info-line-heading">External page</p>
					<div class="portfolio-item__external-list">
						<div class="portfolio-item__external-item">
							<a href="#" class="torquoise-link">
								<span class="torquoise-link__inner">
									http://www.tsvetnoy.com/asianday2017
								</span>
							</a>
						</div>
						<div class="portfolio-item__external-item">
							<a href="#" class="torquoise-link">
								<span class="torquoise-link__inner">
									http://www.tsvetnoy.com/asianday2017
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			{#/INFO LINE#}

			{#GALLERY#}
			<div class="portfolio-item__fotorama-wrap">
				<div class="fotorama" data-nav="thumbs" data-thumbwidth="60" data-thumbheight="40" data-thumbmargin="15">
					<img src="images/case-gallery-image.jpg" alt="" class="special-gallery__main-img" data-caption="© Ashwin Kumar/flickr.com">
					<img src="images/case-gallery-image.jpg" alt="" class="special-gallery__main-img" data-caption="© Ashwin Kumar/flickr.com">
					<img src="images/case-gallery-image.jpg" alt="" class="special-gallery__main-img" data-caption="© Ashwin Kumar/flickr.com">
				</div>
			</div>

			{#/GALLERY#}

			{#TEXTS#}
			<div class="portfolio-item__text-block">
				<h3 class="portfolio-item__text-block-heading">Tasks</h3>
				<div class="info-box info-box_standard">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, temporibus?</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum iste minima officiis perspiciatis, quam tenetur.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis corporis delectus deleniti dignissimos dolor harum in libero optio quidem sint.</p>
				</div>
			</div>

			<div class="portfolio-item__text-block">
				<h3 class="portfolio-item__text-block-heading">Idea</h3>
				<div class="info-box info-box_standard">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing <a href="#">elit</a>. Accusantium adipisci architecto cumque distinctio, dolorum enim est in incidunt ipsa pariatur quia quibusdam quisquam reiciendis, similique soluta ullam velit voluptatem? Accusamus aliquid amet blanditiis dolorem eius est pariatur quas repudiandae veritatis vero? Accusamus aliquid ea eaque ipsam provident repellendus rerum sunt voluptatem. Accusamus aliquid aut commodi culpa delectus deleniti nostrum perspiciatis repudiandae ullam, voluptatem! Aliquid animi aperiam assumenda consequatur cum cumque debitis ducimus ea expedita explicabo facere fugit id incidunt inventore ipsum itaque iure labore, magnam magni, molestiae molestias nisi odio perspiciatis, placeat porro quidem ratione repellendus sunt ullam ut vel?
					</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum iste minima officiis perspiciatis, quam tenetur.</p>
				</div>
			</div>
			{#/TEXTS#}

			{#VIDEO#}
			<div class="portfolio-item__video special-video">
				<a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&autoplay=1&rel=0&controls=0&showinfo=0" class="special-video__link">
					<img src="http://placehold.it/960x540" alt="" class="special-video__img">
				</a>
			</div>
			{#/VIDEO#}

			{#RESULTS#}
			<div class="portfolio-item__text-block">
				<h3 class="portfolio-item__text-block-heading">Result</h3>
				<div class="info-box info-box_standard">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis corporis delectus deleniti dignissimos dolor harum in libero optio quidem sint.</p>
				</div>
			</div>
			{#/RESULTS#}

			{#FACTS#}
			<div class="portfolio-item__facts">
				<div class="portfolio-item__facts-item">
					<div class="portfolio-item__facts-item-count">
						<span class="portfolio-item__facts-item-count-text">100</span>
						<i class="portfolio-item__facts-item-count-shape js-detail"></i>
					</div>
					<p class="portfolio-item__facts-item-text">people took part in the competition</p>
				</div>
				<div class="portfolio-item__facts-item">
					<div class="portfolio-item__facts-item-count">
						<span class="portfolio-item__facts-item-count-text">1000</span>
						<i class="portfolio-item__facts-item-count-shape js-detail"></i>
					</div>
					<p class="portfolio-item__facts-item-text">total coverage of the events</p>
				</div>
			</div>
			{#/FACTS#}

			{#BEST CLIPPINGS#}
			<div class="portfolio-item__best-clippings magazines">
				<h3 class="magazines__title">Best clippings</h3>
				<div class="magazines__list">
					<a href="#" class="magazines__item">
						<div class="magazines__item-image">
							<img src="img/1x1.png" data-src="images/magazine_1.png" alt="" class="magazines__item-img lazyload">
						</div>
						<p class="magazines__item-title">
							Il Riccio Bodrum 1-page feature, July 2016.
							<span class="magazines__item-mag-title">TATLER</span>
						</p>
					</a>
					<a href="#" class="magazines__item">
						<div class="magazines__item-image">
							<img src="img/1x1.png" data-src="images/magazine_2.png" alt="" class="magazines__item-img lazyload">
						</div>
						<p class="magazines__item-title">
							Aldrovandi Villa Borghese, 1-page feature, August 2016.
							<span class="magazines__item-mag-title">HARPER'S BAZAAR</span>
						</p>
					</a>
					<a href="#" class="magazines__item">
						<div class="magazines__item-image">
							<img src="img/1x1.png" data-src="images/magazine_3.png" alt="" class="magazines__item-img lazyload">
						</div>
						<p class="magazines__item-title">
							Asia Days at Tsvetnoy central market.
							<span class="magazines__item-mag-title">The Village</span>
						</p>
					</a>
					<a href="#" class="magazines__item">
						<div class="magazines__item-image">
							<img src="img/1x1.png" data-src="images/magazine_1.png" alt="" class="magazines__item-img lazyload">
						</div>
						<p class="magazines__item-title">
							Il Riccio Bodrum 1-page feature, July 2016.
							<span class="magazines__item-mag-title">TATLER</span>
						</p>
					</a>
					<a href="#" class="magazines__item">
						<div class="magazines__item-image">
							<img src="img/1x1.png" data-src="images/magazine_2.png" alt="" class="magazines__item-img lazyload">
						</div>
						<p class="magazines__item-title">
							Aldrovandi Villa Borghese, 1-page feature, August 2016.
							<span class="magazines__item-mag-title">HARPER'S BAZAAR</span>
						</p>
					</a>
					<a href="#" class="magazines__item">
						<div class="magazines__item-image">
							<img src="img/1x1.png" data-src="images/magazine_3.png" alt="" class="magazines__item-img lazyload">
						</div>
						<p class="magazines__item-title">
							Asia Days at Tsvetnoy central market.
							<span class="magazines__item-mag-title">The Village</span>
						</p>
					</a>

				</div>
			</div>
			{#/BEST CLIPPINGS#}

			{#BACK#}
			<div class="back-module portfolio-item__back">
				<a href="#" class="back-module__link">BACK TO PORTFOLIO</a>
			</div>
			{#/BACK#}
		</div>
	</div>
{#CASES#}
{% endblock %}
