{% extends 'parts/layout.twig' %}

{% block title %}
	<title>IdeaGrande - Practices</title>
{% endblock %}


{% block content %}
{#PRACTICES#}
	<div class="practices">
		<div class="practices__container middle-container">
			<h1 class="practices__title page-title">Practices</h1>
			<div class="practices__list">
				<div class="practices__item">
					<div class="practices__item-text-wrap">
						<h2 class="practices__item-title">Lifestyle & Hospitality PR</h2>
						<div class="practices__item-desc">
							<div class="info-box">
								<p>Luxury hotel brands and fashion designers, new conceptual spaces and cruises, outstanding well-being resorts and beauty centers – everything what defines our lifestyle as a luxury one is to be positioned properly with a sophisticated approach and heart full of bright emotions an open to new adventures and achievements.</p>
							</div>
						</div>
						<div class="practices__item-logo-list">
							<div class="practices__item-logo-item">
								<img src="img/1x1.png" data-src="images/logo-8.png" class="practices__item-logo-item-img lazyload">
							</div>
							<div class="practices__item-logo-item">
								<img src="img/1x1.png" data-src="images/logo-4.png" class="practices__item-logo-item-img lazyload">
							</div>
							<div class="practices__item-logo-item">
								<img src="img/1x1.png" data-src="images/logo-5.png" class="practices__item-logo-item-img lazyload">
							</div>
						</div>
					</div>
					<div class="practices__item-img-container">
						<div class="practices__item-img-wrap">
							<img src="img/1x1.png" data-src="images/practices-img-1.jpg" class="practices__item-img lazyload" alt="">
							<img src="img/icon-diamond.svg" class="practices__item-img-icon practices__item-img-icon_bottom js-detail">
						</div>
					</div>
				</div>
				<div class="practices__item">
					<div class="practices__item-text-wrap">
						<h2 class="practices__item-title">Travel & Aviation PR</h2>
						<div class="practices__item-desc">
							<div class="info-box">
								<p>Without any exaggeration, among PR professionals tourism industry can be called one of the most important spheres, where ideas always take a prior place. People enjoy travelling, but today they tend to consider it as something ordinary and even routine. For that reason, the main task for PR professional is to gain attention of wide audience through developing outstanding news topics as well as effectively reveal and present the best sides product has. These are exact things we do in PR Idea Grande.</p>
							</div>
						</div>
						<div class="practices__item-logo-list">
							<div class="practices__item-logo-item">
								<img src="img/1x1.png" data-src="images/logo-2.png" class="practices__item-logo-item-img lazyload">
							</div>
							<div class="practices__item-logo-item">
								<img src="img/1x1.png" data-src="images/logo-3.png" class="practices__item-logo-item-img lazyload">
							</div>
						</div>
					</div>
					<div class="practices__item-img-container">
						<div class="practices__item-img-wrap">
							<img src="img/1x1.png" data-src="images/practices-img-2.jpg" class="practices__item-img lazyload" alt="">
							<img src="img/icon-plane.svg" class="practices__item-img-icon practices__item-img-icon_top js-detail">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{#/PRACTICES#}
{% endblock %}
