{% extends 'parts/layout.twig' %}

{% block title %}
	<title>IdeaGrande - Services</title>
{% endblock %}


{% block content %}
{#SERVICES#}
	<div class="services container">
		<div class="services__container middle-container">
			<h1 class="services__title page-title">Services</h1>
			<div class="services__list">

				{#COLUMN#}
				<div class="services__list-column">
					{#ITEM#}
					<div class="services__item">
						<div class="services__item-title-wrap">
							<a href="#" class="services__item-title">Media Communications</a>
							<div class="services__item-icon-wrap js-detail detail-animate-scale detail-transform-origin-left-bottom" style="left: 230px; top: -18px;">
								<img src="img/icon-serv-media-communications.svg" class="services__item-icon">
							</div>
						</div>
						<ul class="services__item-list">
							<li class="services__item-list-item">Strategy Development</li>
							<li class="services__item-list-item">Copywriting</li>
							<li class="services__item-list-item">Press Events Arrangemen</li>
							<li class="services__item-list-item">Media Relations</li>
							<li class="services__item-list-item">Full Press office</li>
						</ul>
					</div>
					{#/ITEM#}

					{#ITEM#}
					<div class="services__item">
						<div class="services__item-title-wrap">
							<a href="#" class="services__item-title">Event management</a>
							<div class="services__item-icon-wrap js-detail detail-animate-move-from-left" style="left: -20px; top: -20px;">
								<img src="img/icon-serv-event-management.svg" class="services__item-icon">
							</div>
						</div>
						<ul class="services__item-list">
							<li class="services__item-list-item">Press dinners</li>
							<li class="services__item-list-item">Press Lunches</li>
							<li class="services__item-list-item">Press Conferences</li>
							<li class="services__item-list-item">Seminars</li>
							<li class="services__item-list-item">Workshops</li>
							<li class="services__item-list-item">Launches of product</li>
							<li class="services__item-list-item">Presentations</li>
						</ul>
					</div>
					{#/ITEM#}

					{#ITEM#}
					<div class="services__item">
						<div class="services__item-title-wrap">
							<a href="#" class="services__item-title">Online campaigns</a>
							<div class="services__item-icon-wrap js-detail detail-animate-move-from-bottom" style="left: 80px; top: -10px;">
								<img src="img/icon-serv-online-campaigns.svg" class="services__item-icon">
							</div>
						</div>
						<ul class="services__item-list">
							<li class="services__item-list-item">Social media communications</li>
							<li class="services__item-list-item">Promo-campaigns</li>
							<li class="services__item-list-item">Web-sites</li>
						</ul>
					</div>
					{#/ITEM#}
				</div>
				{#/COLUMN#}

				{#COLUMN#}
				<div class="services__list-column">
					{#ITEM#}
					<div class="services__item">
						<div class="services__item-title-wrap">
							<a href="#" class="services__item-title">Special project</a>
							<div class="services__item-icon-wrap js-detail detail-animate-scale" style="left: 55px; top: -23px;">
								<img src="img/icon-serv-special-projects.svg" class="services__item-icon">
							</div>
						</div>
						<ul class="services__item-list">
							<li class="services__item-list-item">Celebrity projects</li>
							<li class="services__item-list-item">Contest and competitions</li>
							<li class="services__item-list-item">Fashion show</li>
							<li class="services__item-list-item">Cooperation with Fashion Designers</li>
							<li class="services__item-list-item">Promotion in Restaurants and Spas</li>
						</ul>
					</div>
					{#/ITEM#}

					{#ITEM#}
					<div class="services__item">
						<div class="services__item-title-wrap">
							<a href="#" class="services__item-title">Analytics</a>
							<div class="services__item-icon-wrap js-detail detail-animate-move-from-top" style="left: 80px; top: -14px;">
								<img src="img/icon-serv-analytics.svg" class="services__item-icon">
							</div>
						</div>
						<ul class="services__item-list">
							<li class="services__item-list-item">Media monitoring</li>
							<li class="services__item-list-item">Media clipping</li>
							<li class="services__item-list-item">Media audit</li>
						</ul>
					</div>
					{#/ITEM#}

					{#ITEM#}
					<div class="services__item">
						<div class="services__item-title-wrap">
							<a href="#" class="services__item-title">Design and branding</a>
							<div class="services__item-icon-wrap js-detail detail-animate-move-from-left" style="left: -20px; top: -15px;">
								<img src="img/icon-serv-design-and-branding.svg" class="services__item-icon">
							</div>
						</div>
						<ul class="services__item-list">
							<li class="services__item-list-item">Logotypes</li>
							<li class="services__item-list-item">Landing Pages</li>
						</ul>
					</div>
					{#/ITEM#}
				</div>
				{#/COLUMN#}

			</div>
		</div>
		<div class="services__detail-1 js-detail"></div>
		<div class="services__detail-2 js-detail"></div>
		<div class="services__detail-3 js-detail"></div>
	</div>
{#/SERVICES#}
{% endblock %}
