{% extends 'parts/layout.twig' %}

{% block title %}
	<title>IdeaGrande - Services inner</title>
{% endblock %}


{% block content %}
{#SERVICES INNER#}
	<div class="serv-inner">
		<div class="serv-inner__container middle-container">
			<h1 class="serv-inner__title page-title">Media Communications</h1>
			<div class="serv-inner__content">
				<div class="serv-inner__desc">
					<div class="info-box">
						<h2>Strategy Development</h2>
						<p>Writing texts is perhaps the most important part of our work. Every day we compose texts on a variety of topics, from the hotel business to metalworking. Press releases, press kits, leaflets, brochures - depending on the client's request, we are ready to prepare text of any format and complexity that will contain all the necessary information and, at the same time, interesting to read.</p>
						<h2>Copywriting</h2>
						<p>Writing texts is perhaps the most important part of our work. Every day we compose texts on a variety of topics, from the hotel business to metalworking. Press releases, press kits, leaflets, brochures - depending on the client's request, we are ready to prepare text of any format and complexity that will contain all the necessary information and, at the same time, interesting to read.</p>
						<h2>Press Events Arrangement</h2>
						<p>Writing texts is perhaps the most important part of our work. Every day we compose texts on a variety of topics, from the hotel business to metalworking. Press releases, press kits, leaflets, brochures - depending on the client's request, we are ready to prepare text of any format and complexity that will contain all the necessary information and, at the same time, interesting to read.</p>
						<h2>Media Relations</h2>
						<p>Writing texts is perhaps the most important part of our work. Every day we compose texts on a variety of topics, from the hotel business to metalworking.</p>
						<h2>Full Press office</h2>
						<p>Writing texts is perhaps the most important part of our work. Every day we compose texts on a variety of topics, from the hotel business to metalworking.Press releases, press kits, leaflets, brochures - depending on the client's request, we are ready to prepare text of any format and complexity that will contain all the necessary information and, at the same time, interesting to read.</p>
					</div>
				</div>
				<div class="serv-inner__cases">
					<p class="serv-inner__cases-title">related cases</p>
					<div class="serv-inner__cases-list">
						<div class="cases__column">
							<a href="#" class="cases__item cases__item_bg" style="background-image: url(images/cases-img-1.jpg)">
								<p class="cases__item-date">September 17</p>
								<p class="cases__item-title">
									<span class="cases__item-title-part">Tour of Chef Jean-Luc Figueras</span>
									<span class="cases__item-title-part">Mandarin Barcelona</span>
								</p>
							</a>
						</div>
						<div class="cases__column">
							<a href="#" class="cases__item">
								<div class="cases__item-title">
									<p class="cases__item-title-part">Coffeemania</p>
									<p class="cases__item-title-part">Mandarin Lufthansa</p>
								</div>
								<div class="cases__item-image" style="background-image: url(images/cases-img-2.jpg)">
									<p class="cases__item-date">September 17</p>
								</div>
							</a>
						</div>
						<div class="cases__column">
							<a href="#" class="cases__item">
								<div class="cases__item-image" style="background-image: url(images/cases-img-3.png)">
									<p class="cases__item-date">August 20</p>
								</div>
								<div class="cases__item-title">
									<p class="cases__item-title-part">Thai Friend Club B-Day</p>
									<p class="cases__item-title-part">Amazing Thailand</p>
								</div>
							</a>
						</div>
						<div class="cases__column">
							<a href="#" class="cases__item">
								<div class="cases__item-image" style="background-image: url(images/cases-img-3.png)">
									<p class="cases__item-date">August 20</p>
								</div>
								<div class="cases__item-title">
									<p class="cases__item-title-part">Thai Friend Club B-Day</p>
									<p class="cases__item-title-part">Amazing Thailand</p>
								</div>
							</a>
						</div>
						<div class="cases__column">
							<a href="#" class="cases__item">
								<div class="cases__item-image" style="background-image: url(images/cases-img-3.png)">
									<p class="cases__item-date">August 20</p>
								</div>
								<div class="cases__item-title">
									<p class="cases__item-title-part">Thai Friend Club B-Day</p>
									<p class="cases__item-title-part">Amazing Thailand</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			{#BACK#}
			<div class="back-module portfolio-item__back">
				<a href="#" class="back-module__link">BACK TO SERVICES</a>
			</div>
			{#/BACK#}
		</div>
	</div>
{#/SERVICES INNER#}
{% endblock %}
