{% extends 'parts/layout.twig' %}

{% block title %}
	<title>IdeaGrande - About</title>
{% endblock %}


{% block content %}
	{#ABOUT#}
	<div class="about middle-container">
		<h2 class="about__title page-title">About</h2>
		<div class="about__text">
			<div class="info-box">
				<p>Hello! With you in connection with the agency PR Idea Grande — a team of experienced and attentive professionals in the field of PR communications. We know the words press office, creative approach and success story not by hearsay. Starting from 2008, we provide business promotion services in the markets of Russia and CIS countries. We are proud of our customers, because they are large and successful (including due to our efforts) company.</p>
				<p>We love our work very much, therefore:</p>
			</div>
		</div>
		<div class="about__list">
			<div class="about__item">
				<p class="about__item-number">1</p>
				<p class="about__item-text">Make it "excellent".</p>
			</div>
			<div class="about__item">
				<p class="about__item-number">2</p>
				<p class="about__item-text">Before you begin to work, we thoroughly understand the issue in order to speak with you in one language;</p>
			</div>
			<div class="about__item">
				<p class="about__item-number">3</p>
				<p class="about__item-text">In each project we strive to embody the most daring IDEAS and go beyond the boundaries of the usual PR practices.</p>
			</div>
		</div>
	</div>
	{#/ABOUT#}

	{#TEAM#}
	<div class="team middle-container">
		<h2 class="team__title page-title">Team</h2>
		<div class="team__list">
			<div class="team__column">
				<div class="team__item">
					<img src="images/ekaterina.png" class="team__item-photo">
					<p class="team__item-name">Ekaterina Evlentieva</p>
					<p class="team__item-post">GM, founder, leader and ideological inspirer of PR Idea Grande</p>
					<div class="team__item-desc">
						<div class="info-box">
							<p>Before becoming all of the above, Catherine received two educations - an interpreter and public relations specialist, accumulated a tremendous experience in the field of PR, working with clients such as VisitBritain, The Maybourne Group Hotels, Cyprus Tourism Organization, Cyprus Rally, InSinkErator, Four Seasons Cyprus, VisitScotland. </p>
							<p>The main passion of Catherine – her brainchild – company PR Idea Grande, in second place – travel, the main passion – Britain. At any opportunity, she escapes there for at least a few days. Need a route to Britain? – Call Katya, in a couple of hours you will have an excellent route with different interesting addresses, which you will not find in the guiding roads ;-). From new hobbies - oratory, vocal, golf, wakeboard, surf.</p>
						</div>
					</div>
				</div>
				<div class="team__item">
					<img src="images/violetta.png" class="team__item-photo">
					<p class="team__item-name">Violtta Stepanchikova</p>
					<p class="team__item-post">Media Monitoring Specialist</p>
					<div class="team__item-desc">
						<div class="info-box">
							<p>In PR Idea Grande, no mention of the client in the media will go unnoticed, thanks to Violetta. Attention to detail and prudence are the qualities that help it prepare ideal reports for our clients Mandarin Oriental and Minor Hotel Group. By education Violetta is a teacher of foreign languages. Sometimes, at the request of colleagues, she gives lessons in the grammar of the English language. </p>
							<p>Violetta is a teacher of foreign languages. Sometimes, at the request of colleagues, she gives lessons in the grammar of the English language. Violetta can not imagine her life without cooking. Desserts in her performance with an enviable regularity appear in our office, which positively affects the mood of her colleagues. He dreams of opening a small confectionery in his city, especially as he knows exactly how to provide professional PR support.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="team__column">
				<div class="team__item">
					<img src="images/anastasia.png" class="team__item-photo">
					<p class="team__item-name">Anastasia Ignatova</p>
					<p class="team__item-post">Account Manager</p>
					<div class="team__item-desc">
						<div class="info-box">
							<p>The youngest member of our team now combines work with study in the last year of the bachelor's program of the Moscow University of Thuro at the Faculty of Business Administration and Economics. The agency leads customers of Royal Air Maroc, PER AQUUM, Anantara. Anastasia responsibly approaches any business and believes that working for PR Idea Grande will make her a first-class PR specialist. </p>
							<p> Anastasia is fond of cinema and Italian cuisine. So, if you suddenly get lost in guesswork, who took the film "***", or do not know which grade of paste best suits the evening of Friday, you can safely turn to her for advice</p>
						</div>
					</div>
				</div>
				<div class="team__item">
					<img src="images/polina.png" class="team__item-photo">
					<p class="team__item-name">Polina Trostina</p>
					<p class="team__item-post">Creative Unit</p>
					<div class="team__item-desc">
						<div class="info-box">
							<p>By a lucky coincidence, the agency PR Idea Grande was Polina's first job. To develop her professional skills better, she continues her Master's studies in the direction of integrated communications at the Higher School of Economics. Without Polina, there is not a single brainstorming, because for our customers only the freshest and original ideas are suitable. </p>
							<p>For more than two years, Pauline leads a sketch-marathon in social networks. The habit of drawing illustrations every day has borne fruit: from February 2016 her works appear in articles on the site of The Seasons magazine, and from November 2016 on the official page of PR Idea Grande in Instagram.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="team__link-wrap">
			<a href="#" class="team__link">Join our team</a>
		</div>
	</div>
	{#/TEAM#}
{% endblock %}
