{% extends 'parts/layout.twig' %}

{% block title %}
	<title>IdeaGrande - Contacts</title>
{% endblock %}


{% block content %}
	{#CONTACTS#}
	<div class="contacts middle-container">
		<h2 class="contacts__title page-title">Contacts</h2>

		<div class="contacts__container">

			{#FORM COL#}
			<div class="contacts__form-col js-contacts-form-col">

				{#FORM#}
				<div class="contacts__form-col-wrap" id="contacts-form-wrap">
					<h3 class="contacts__form-col-title">
						<div class="contacts__form-col-title-detail js-detail"></div>
						<span class="contacts__form-col-title-text">Send us a message</span>
					</h3>
					<div class="contacts__form form">
						<form action="" id="contacts-form" name="contacts-form">
							<div class="form__input-container">
								<div class="form__input-holder js-input-holder" data-error="enter your name">
									<label class="form__input-label">Name</label>
									<input name="cname"
									       type="text"
									       class="form__input js-input"
									       required
									       placeholder="enter your name">
								</div>
								<div class="form__input-holder js-input-holder" data-error="enter your name">
									<label class="form__input-label">Company</label>
									<input name="ccompany"
									       type="text"
									       class="form__input js-input"
									       placeholder="enter company name">
								</div>
							</div>

							<div class="form__input-container">
								<div class="form__input-holder js-input-holder" data-error="enter your name">
									<label class="form__input-label">Email</label>
									<input name="cemail"
									       type="email"
									       class="form__input js-input"
									       required
									       placeholder="example@mail.ru">
								</div>
							</div>

							<div class="form__input-holder js-input-holder" data-error="enter your name">
								<label class="form__input-label">Comment</label>
								<textarea name="ccomment"
								          class="form__textarea js-input"
								          required
								          placeholder="your question"></textarea>
							</div>

							<div class="form__checkbox-holder">
								<div class="form__checkbox">
									<input name="cagree" type="checkbox" class="js-checkbox" id="cagree">
								</div>
								<div class="form__checkbox-text">
									<a href="#" class="torquoise-link">
									<span class="torquoise-link__inner">
										I am familiar with the Privacy Policy
									</span>
									</a>
									and agree with the processing My personal data.
								</div>
							</div>

							<button class="btn js-button" type="submit" id="csubmit">
								<div class="btn__bg"></div>
								<span class="btn__text">Send</span>
							</button>

						</form>
					</div>
				</div>
				{#/FORM#}

				{#SUCCESS#}
				<div class="contacts__form-success" id=contacts-form-message">
					<div class="contacts__form-success-detail js-detail"></div>
					<p class="contacts__form-success-text">Your message was successfully sent</p>
					<a href="#" class="contacts__form-success-link" id="contacts-form-message-link">Send another message</a>
				</div>
				{#/SUCCESS#}

			</div>
			{#/FORM COL#}

			{#MAP COL#}
			<div class="contacts__map-col">
				<h3 class="contacts__map-col-title">Address</h3>

				<div class="contacts__map">
					<div class="contacts__address-block">
						<div class="contacts__socials">
							<a href="#" class="contacts__socials-item contacts__socials-item_instagram"></a>
							<a href="#" class="contacts__socials-item contacts__socials-item_facebook"></a>
							<a href="#" class="contacts__socials-item contacts__socials-item_twitter"></a>
						</div>
						<div class="contacts__address">
							107045 Moscow, Russia,
							<br>
							Trubnaya Street 12, office 3K
							<br>
							<br>
							+7 495 795-06-54
							<br>
							info@ideagrande.com
						</div>
					</div>
					<div id="google-map" class="contacts__google-map"></div>
				</div>
			</div>
			{#/MAP COL#}

		</div>

	</div>
	{#/CONTACTS#}
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script>
		function initMap() {
			var map = new google.maps.Map(document.getElementById('google-map'), {
				center: {lat: 55.768157, lng: 37.621817},
				zoom: 12,
				disableDefaultUI: true,
				scrollwheel: false,
				styles: [
					{
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#f5f5f5"
							}
						]
					},
					{
						"elementType": "labels.icon",
						"stylers": [
							{
								"visibility": "off"
							}
						]
					},
					{
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#616161"
							}
						]
					},
					{
						"elementType": "labels.text.stroke",
						"stylers": [
							{
								"color": "#f5f5f5"
							}
						]
					},
					{
						"featureType": "administrative.land_parcel",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#bdbdbd"
							}
						]
					},
					{
						"featureType": "poi",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#eeeeee"
							}
						]
					},
					{
						"featureType": "poi",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#757575"
							}
						]
					},
					{
						"featureType": "poi.park",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#e5e5e5"
							}
						]
					},
					{
						"featureType": "poi.park",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#9e9e9e"
							}
						]
					},
					{
						"featureType": "road",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#ffffff"
							}
						]
					},
					{
						"featureType": "road.arterial",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#757575"
							}
						]
					},
					{
						"featureType": "road.highway",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#dadada"
							}
						]
					},
					{
						"featureType": "road.highway",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#616161"
							}
						]
					},
					{
						"featureType": "road.local",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#9e9e9e"
							}
						]
					},
					{
						"featureType": "transit.line",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#e5e5e5"
							}
						]
					},
					{
						"featureType": "transit.station",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#eeeeee"
							}
						]
					},
					{
						"featureType": "water",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#c9c9c9"
							}
						]
					},
					{
						"featureType": "water",
						"elementType": "geometry.fill",
						"stylers": [
							{
								"color": "#bcddff"
							}
						]
					},
					{
						"featureType": "water",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#9e9e9e"
							}
						]
					}
				]
			});

			var marker = new google.maps.Marker({
				map: map,
				position: {lat: 55.768157, lng: 37.621817},
				icon: {
					url: 'img/icon-marker.svg',
					size: new google.maps.Size(40, 50),
					origin: new google.maps.Point(0, 0),
					anchor: new google.maps.Point(0, 50)
				}
			});

		}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSlmb0kjYItIMJ-TUO4oagK1GySSLvSFI&callback=initMap"
	        async defer></script>
{% endblock %}
