{% extends 'parts/layout.twig' %}

{% block title %}
	<title>IdeaGrande - Hiring</title>
{% endblock %}


{% block content %}
	{#HIRING#}
	<div class="hiring container" style="background-image: url(images/hiring-bg.jpg)">
		<div class="hiring__container middle-container">
			<h1 class="hiring__title page-title">We are hiring</h1>
			<p class="hiring__subtitle">We are looking for young, creative and ambitious people in our team.</p>
			<div class="hiring__text">
				<div class="info-box info-box_hiring">
					<p><b>Requirements</b></p>
					<ul>
						<li>Experience in the field of Fashion PR and established contacts with fashion media.</li>
						<li>English is not lower than the intermediate.</li>
						<li>High communication skills.</li>
						<li>Initiative.</li>
						<li>Ready to work in multitasking mode.</li>
					</ul>
					<p><b>Conditions</b></p>
					<ul>
						<li>Office in the center of Moscow at the Patriarshiye Ponds, m. Pushkinskaya.</li>
						<li>Full time from 10:30 to 19:30.</li>
						<li>Work with international brands.</li>
						<li>Career.</li>
						<li>Young and creative team.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	{#/HIRING#}

	{#VACANCIES#}
	<div class="vacancies middle-container">
		<h2 class="vacancies__title">Available vacancies</h2>
		<div class="vacancies__list">
			<div class="vacancies__item">
				<h3 class="vacancies__item-title">Media Trainee Manager</h3>
				<div class="vacancies__item-desc">
					<div class="info-box info-box_vac">
						<ul>
							<li>Preparation of text materials (writing, translating and adapting press releases and other information materials about brands).</li>
							<li>Communication with the media and other media, including bloggers (sending out press materials, initiating publications, inviting to events).</li>
							<li>Work with stylists and press collections from the agency's showroom</li>
							<li>Creation and maintenance of the current base of media, stylists and trendetters.</li>
							<li>Preparation of reports on the results of PR-campaigns.</li>
							<li>Communication with the press at events.</li>
							<li>Preparation of PR-presentations for clients.</li>
						</ul>
						<p>ommunication with the media and other media, including bloggers (sending out press materials, initiating publications, inviting to events).</p>
						<h2>ommunication </h2>
						<h3>inviting to event</h3>
					</div>
				</div>
				<div class="vacancies__item-detail js-detail detail-animate-move-from-top"></div>
			</div>
			<div class="vacancies__item">
				<h3 class="vacancies__item-title">Office Manager</h3>
				<div class="vacancies__item-desc">
					<div class="info-box info-box_vac">
						<ul>
							<li>Preparation of text materials (writing, translating and adapting press releases and other information materials about brands).</li>
							<li>Communication with the media and other media, including bloggers (sending out press materials, initiating publications, inviting to events).</li>
							<li>Work with stylists and press collections from the agency's showroom</li>
							<li>Creation and maintenance of the current base of media, stylists and trendetters.</li>
						</ul>
					</div>
				</div>
				<div class="vacancies__item-detail js-detail detail-animate-move-from-bottom"></div>
			</div>
		</div>
	</div>
	{#/VACANCIES#}

	{#FORM#}
	<div class="contacts middle-container">
		<div class="contacts__container">

			{#FORM COL#}
			<div class="contacts__form-col js-contacts-form-col">

				{#FORM#}
				<div class="contacts__form-col-wrap" id="contacts-form-wrap">
					<h3 class="contacts__form-col-title">
						<div class="contacts__form-col-title-detail js-detail"></div>
						<span class="contacts__form-col-title-text">Send us a message</span>
					</h3>
					<div class="contacts__form form">
						<form action="" id="vacancy-form" name="vacancy-form" enctype="multipart/form-data">
							<div class="form__input-container">
								<div class="form__input-holder js-input-holder" data-error="enter your name">
									<label class="form__input-label">Full Name</label>
									<input name="vname"
									       type="text"
									       class="form__input js-input"
									       required
									       placeholder="enter your name">
								</div>
								<div class="form__input-holder js-input-holder" data-error="enter your name">
									<label class="form__input-label">Job Vacancy</label>
									<div class="form__select-holder">
										<select class="form__select js-input" name="vvacancy">
											<option value="1">Media Trainee Manager</option>
											<option value="1">Office Manager</option>
										</select>
									</div>
								</div>
							</div>

							<div class="form__input-container">
								<div class="form__input-holder js-input-holder" data-error="enter your name">
									<label class="form__input-label">Email</label>
									<input name="vemail"
									       type="email"
									       class="form__input js-input"
									       required
									       placeholder="example@mail.ru">
								</div>
								<div class="form__input-holder js-input-holder" data-error="enter your name">
									<label class="form__input-label">Phone</label>
									<input name="vphone"
									       type="tel"
									       class="form__input js-input js-phone-input"
									       required
									       placeholder="+7">
								</div>
							</div>

							<div class="form__input-holder js-input-holder" data-error="enter your name">
								<label class="form__input-label">Comment</label>
								<textarea name="vcomment"
								          class="form__textarea js-input"
								          required
								          placeholder="your question"></textarea>
							</div>

							<div class="form__input-holder form__input-holder_upload js-file-upload-parent">
								<div class="form__upload">
									<input type="file" accept="application/pdf, application/msword" class="form__upload-input js-file-upload-input">
									<span class="form__upload-link js-file-upload-trigger">Upload resume</span>
									<span class="form__upload-info">
									<span class="form__upload-descr form__upload-descr_tip js-file-upload-file-name" data-default="pdf or docx less than 2MB">pdf or docx less than 2MB</span>
									<span class="form__upload-clear js-file-upload-remove"></span>
								</span>

								</div>
								<span class="form__input-error js-file-upload-error" style="display: none;"></span>
							</div>

							<div class="form__checkbox-holder">
								<div class="form__checkbox">
									<input name="vagree" type="checkbox" class="js-checkbox" id="vagree">
								</div>
								<div class="form__checkbox-text">
									<a href="#" class="torquoise-link">
									<span class="torquoise-link__inner">
										I am familiar with the Privacy Policy
									</span>
									</a>
									and agree with the processing My personal data.
								</div>
							</div>

							<button class="btn js-button" type="submit" id="vsubmit">
								<div class="btn__bg"></div>
								<span class="btn__text">Send</span>
							</button>

						</form>
					</div>
				</div>
				{#/FORM#}

				{#SUCCESS#}
				<div class="contacts__form-success" id="contacts-form-message">
					<div class="contacts__form-success-detail js-detail"></div>
					<p class="contacts__form-success-text">Your message was successfully sent</p>
					<a href="#" class="contacts__form-success-link" id="contacts-form-message-link">Send another message</a>
				</div>
				{#/SUCCESS#}

			</div>
			{#/FORM COL#}

		</div>
	</div>
	{#/FORM#}
{% endblock %}
