{% extends 'parts/layout.twig' %}

{% block title %}
	<title>IdeaGrande</title>
{% endblock %}


{% block content %}
	<style>
		ul {
			margin: 110px auto !important;
			width: 500px !important;
			display: block !important;
		}
		a {
			color: black !important;
			font-size: 20px !important;
		}
		a:visited {
			color: gray !important;
		}
	</style>

<ul>
	<li><a href="00_main.html">00. Main</a></li>
	<li><a href="01_cases.html">01. Cases</a></li>
	<li><a href="02_cases-inner.html">02. Cases inner</a></li>
	<li><a href="03_practices.html">03. Practices</a></li>
	<li><a href="04_services.html">04. Services</a></li>
	<li><a href="05_services-inner.html">05. Services inner</a></li>
	<li><a href="06_about.html">06. About</a></li>
	<li><a href="07_contacts.html">07. Contacts</a></li>
	<li><a href="08_hiring.html">08. Hiring</a></li>
	<li><a href="09_404.html">09. 404</a></li>

</ul>
{% endblock %}
