.error404 {
	height: calc(~"100vh - 170px");
	background: url(../img/404.png) no-repeat center bottom / contain;
	margin-bottom: -40px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;

	&__title {
		text-align: center;
		margin-bottom: 20px;
		position: relative;
	}
	&__title-text {
		position: relative;
		z-index: 10;
	}
	&__title-shape {
		width: 60px;
		height: 60px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: rotate(-90deg);
		margin-left: -30px;
	}
	&__title-shape-inner {
		.svg-icon-param(icon-detail-3, 60px, 60px, '[fill]: #FF4B4B');
		.animate-scale();
		transform: translateX(-100px);
		transition-delay: 200ms;
	}
	&__description {
		text-align: center;
		.light();
		font-style: normal;
		line-height: 1.66;
		font-size: @25;
		color: @text-color;
	}

	&__shape {
		position: absolute;
		&_1 {
			left: 50%;
			top: 0;
			margin-left: -630px;
			.svg-icon-param(icon-detail-1, 160px, 168px, '[fill]:#F6FAF9');
			.animate-translate();
			transform: translate(-100px, 50px);
			transition-delay: 500ms;
		}
		&_2 {
			right: 50%;
			top: 50%;
			margin-right: -600px;
			margin-top: -128px;
			transform: rotate(90deg);
			width: 128px;
			height: 256px;
		}
	}
	&__shape-inner {
		.error404__shape_2 & {
			.svg-icon-param(icon-detail-2, 128px, 256px, '[fill]:#F6FAF9');
			.animate-scale();
			transform: scale(5);
			transition-delay: 0ms;
		}
	}
}

@media screen and (max-width: 1000px) {
	.error404 {
		height: calc(~"100vh - 120px");

	}
}

@media screen and (max-width: 800px) {
	.error404 {
		margin-bottom: -66px;

		&__description {
			font-size: @20;
		}
	}
}

@media screen and (max-width: 530px) {
	.error404 {
		background-image: none;
		margin-bottom: 0;
	}
}