.services {
	margin-top: 30px;
	margin-bottom: 47px;
	position: relative;

	&__container {

	}
	&__title {
		margin-bottom: 56px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		padding-left: 120px;
	}
	&__list-column {
		//width: calc(~"(100% - 180px) / 2");
		margin-right: 180px;
		&:nth-child(2n) {
			margin-right: 0;
		}
	}
	&__item {
		margin-bottom: 70px;
	}
	&__item-title-wrap {
		margin-bottom: 20px;
		position: relative;
	}
	&__item-title {
		font-size: @25;
		.light();
		color: @text-color;
		text-decoration: none;
		padding-bottom: 2px;
		border-bottom: 1px solid @torquoise-color;
		.std-transition();
		z-index: 20;
		position: relative;
		&:hover {
			color: @torquoise-color;
		}
	}
	&__item-icon-wrap {
		position: absolute;
		z-index: 10;

	}
	&__item-icon {

	}
	&__item-list {
		position: relative;
		z-index: 20;
	}
	&__item-list-item {
		margin-bottom: 7px;
		position: relative;
		.light();
		font-size: @15;
		color: @text-color;
		line-height: 1.2;
		&:before {
			content: '— ';
			margin-right: 4px;
		}
	}

	&__detail-1 {
		.svg-icon(icon-detail-5, 128px, 256px);
		position: absolute;
		left: 0;
		top: 437px;
		z-index: 10;
		//transform: rotate(90deg);
		.animate-translate();
		transition-delay: 800ms;
	}
	&__detail-2 {
		.svg-icon-param(icon-detail-1, 160px, 168px, '[fill]: #F6FAF9');
		position: absolute;
		top: 97px;
		right: 70px;
		z-index: 10;
		.animate-translate();
		transform: translate(-100px, 50px);
		transition-delay: 400ms;
	}
	&__detail-3 {
		.svg-icon-param(icon-detail-6, 80px, 80px, '[fill]: #F6FAF9');
		position: absolute;
		top: 17px;
		right: 190px;
		z-index: 10;
		.animate-translate();
		transform: translate(-100px, 50px);
		transition-delay: 600ms;
	}
}

@media screen and (max-width: 1000px) {
	.services {

		&__list {
			padding-left: 0;
		}
		&__list-column {
			width: calc(~"(100% - 60px) / 2");
			margin-right: 60px;
		}

		&__detail-2 {
			right: -100px;
		}
		&__detail-3 {
			display: none;
		}
		&__detail-1 {
			left: -50px;
		}
	}
}

@media screen and (max-width: 760px) {
	.services {
		&__list {
			flex-direction: column;
		}
		&__list-column {
			width: 100%;
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 580px) {
	.services {
		margin-bottom: 30px;

		&__list {
			padding-left: 0;
		}
		&__item-title {
			font-size: @18;
		}
		&__item-icon-wrap {
			width: 50px;
			height: 50px;
		}
		&__item-icon {
			max-width: 100%;
			max-height: 100%;
		}
	}
}