.serv-inner {
	margin-top: 30px;
	margin-bottom: 107px;

	&__container {

	}
	&__title {
		margin-bottom: 30px;
	}
	&__content {
		display: flex;
		align-items: flex-start;
	}
	&__desc {
		width: 40%;
		min-width: 40%;
		margin-right: 55px;
	}
	&__cases {
		width: calc(~"100% - 40% - 55px");
	}
	&__cases-title {
		letter-spacing: 1px;
		font-size: @13;
		margin-bottom: 40px;
		.medium();
		text-transform: uppercase;
		color: #B0C1C0;
	}
	&__cases-list {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 1100px) {
	.serv-inner {

		&__content {
			flex-direction: column;
		}
		&__desc {
			width: 100%;
			min-width: 100%;
			margin-right: 0;
		}
		&__cases {
			width: 100%;
		}

		&__cases-list {
			//flex-direction: column;
			//flex-wrap: nowrap;
		}
	}
}