.hiring {
	margin-bottom: 84px;
	margin-top: 20px;
	//background: #FCFAFE;
	min-height: 700px;
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	padding-bottom: 73px;
	padding-top: 20px;

	&__title {
		margin-bottom: 25px;
	}
	&__subtitle {
		font-size: @25;
		.light();
		line-height: 1.5;
		margin-bottom: 30px;
		width: 40%;
	}
	&__text {
		width: 35%;
	}
}

@media screen and (max-width: 900px) {
	.hiring {
		margin-bottom: 40px;
		min-height: auto;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(239, 239, 239, 0.6);
			z-index: 10;
		}

		&__title {
			position: relative;
			z-index: 20;
		}
		&__subtitle {
			width: 80%;
			position: relative;
			z-index: 20;
		}
		&__text {
			width: 80%;
			position: relative;
			z-index: 20;
		}
	}
}

@media screen and (max-width: 700px) {
	.hiring {
		padding-left: 0;
		padding-right: 0;

		&__subtitle {
			width: 100%;
			font-size: @20;
		}
		&__text {
			width: 100%;
		}
	}
}
