.vacancies {

	&__title {
		font-size: @25;
		color: @text-color;
		.light();
		margin-bottom: 32px;
	}
	&__list {
		display: flex;
		align-items: flex-start;
	}
	&__item {
		width: calc(~"(100% - 60px) / 2");
		margin-right: 60px;
		padding: 27px 70px 33px 30px;
		background: #F6FAF9;
		position: relative;
		margin-bottom: 75px;
		&:last-child {
			margin-right: 0;
		}
		&:nth-child(2n) {
			margin-right: 0;
		}

	}
	&__item-title {
		font-size: @15;
		.medium();
		color: @text-color;
		margin-bottom: 14px;
		position: relative;
		z-index: 20;
	}
	&__item-desc {
		position: relative;
		z-index: 20;
	}
	&__item-detail {
		position: absolute;
		left: 20px;
		top: 20px;
		.svg-icon(icon-red-person, 40px, 45px);
		z-index: 10;
		.vacancies__item:nth-child(2n) & {
			right: 20px;
			bottom: 20px;
			left: auto;
			top: auto;
			.svg-icon(icon-blue-person, 40px, 45px);
			z-index: 10;
		}
	}

}

@media screen and (max-width: 1000px) {
	.vacancies {

		&__list {
			flex-direction: column;
		}
		&__item {
			width: 100%;
			margin-right: 0;
			margin-bottom: 40px;
		}
	}
}

@media screen and (max-width: 700px) {
	.vacancies {
		&__item {
			padding: 15px 20px 25px 25px;
		}
	}
}