.about {
	margin-bottom: 92px;
	margin-top: 38px;

	&__title {
		margin-bottom: 41px;
	}
	&__text {
		margin-bottom: 20px;
		max-width: 86%;
	}
	&__list {
		display: flex;
		max-width: 90%;
	}
	&__item {
		width: calc(~"(100% - 60px * 2) / 3");
		margin-right: 60px;
		position: relative;
		min-height: 180px;
		padding: 17px 60px 38px 20px;

		&:first-child {
			background: @blue-color;
		}
		&:nth-child(2) {
			background: @violet-color;
		}
		&:last-child {
			background: @yellow-color;
			margin-right: 0;
		}
	}
	&__item-number {
		font-size: @150;
		color: white;
		.medium();
		position: absolute;
		right: 32px;
		bottom: -1px;
		z-index: 10;
	}
	&__item-text {
		font-size: @15;
		color: @text-color;
		.light();
		z-index: 20;
		line-height: 1.7;
		position: relative;
	}
}

@media screen and (max-width: 1000px) {
	.about {

		&__text {
			max-width: 100%;
		}

		&__list {
			flex-direction: column;
			max-width: 100%;
		}
		&__item {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
			padding: 17px 150px 38px 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__item-text {
			font-size: @20;
		}
	}
}

@media screen and (max-width: 700px) {
	.about {

		&__item {
			padding: 17px 80px 38px 20px;

		}
		&__item-text {
			font-size: @15;
		}
	}
}