.team {
	margin-bottom: 107px;

	&__title {
		margin-bottom: 38px;
	}
	&__list {
		display: flex;
		align-items: flex-start;
	}
	&__column {
		width: calc(~"(100% - 60px) / 2");
		margin-right: 60px;
	}
	&__item {
		margin-bottom: 63px;
		&:last-child {
			margin-right: 0;
		}
		&:nth-child(2n) {
			margin-right: 0;
		}
	}
	&__item-photo {
		filter: grayscale(100%);
		width: 300px;
		height: 300px;
		margin-bottom: 23px;
		.team__column:first-child .team__item:first-child & {
			border-radius: 50%;
		}
		.team__column:last-child .team__item:first-child & {
			clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
		}
		.team__column:last-child .team__item:last-child & {
			clip-path: polygon(0 0, 0% 100%, 100% 50%);
		}
	}
	&__item-name {
		font-size: @25;
		.light();
		color: @text-color;
		margin-bottom: 6px;
		line-height: 1.3;
	}
	&__item-post {
		.medium();
		color: @text-color;
		font-size: @15;
		margin-bottom: 20px;
		line-height: 1.7;
	}
	&__item-desc {

	}
	&__link-wrap {
		.svg-icon(icon-person, 300px, 300px);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__link {
		text-decoration: none;
		font-size: @25;
		.light();
		color: @text-color;
		border-bottom: 1px solid @torquoise-color;
		.std-transition();
		padding-bottom: 3px;
		&:hover {
			color: @torquoise-color;
		}
	}
}

@media screen and (max-width: 1000px) {
	.team {
		&__list {
			flex-direction: column;
		}
		&__column {
			width: 100%;
			margin-right: 0;
		}
		&__item {
			text-align: center;
		}
		&__item-desc {
			text-align: left;
		}
	}
}

@media screen and (max-width: 580px) {
	.team {
		&__item-photo {
			width: 250px;
			height: 250px;
		}
		&__link-wrap {
			.svg-icon(icon-person, 250px, 250px);
			margin-left: auto;
			margin-right: auto;
		}
	}
}