{#FOOTER#}
<footer class="footer">
	<div class="footer__container container">
		<div class="footer__left-part">
			<p class="footer__idea-grande">Idea Grande 2017</p>
			<a href="#" target="_blank" class="footer__presentation">Company presentation</a>
			<a href="#" target="_blank" class="footer__privacy">Privacy Policy</a>
		</div>
		<div class="footer__development">
			<p class="footer__development-text">Made with</p>
			<i class="footer__development-icon"></i>
			<p class="footer__development-text footer__development-text_special">by</p>
			<a href="#" class="footer__development-link">neq4</a>
		</div>
	</div>
</footer>
{#/FOOTER#}