{#HEADER#}
<header class="header">
	<div class="header__container container">
		<div class="header__menu">
			<a href="#" class="header__menu-item header__menu-item_active">about</a>
			<a href="#" class="header__menu-item">services</a>
			<a href="#" class="header__menu-item">cases</a>
			<a href="#" class="header__menu-item">blog</a>
			<a href="#" class="header__menu-item">school</a>
			<a href="#" class="header__menu-item">contacts</a>
		</div>

		<a href="#" class="header__logo">
			<img class="header__logo-img" src="img/logo.svg">
		</a>

		<div class="header__right-part">
			<div class="header__socials">
				<a href="#" class="header__socials-link">telegram</a>
				<a href="#" class="header__socials-link">facebook</a>
				<a href="#" class="header__socials-link">instagram</a>
			</div>
			<div class="header__languages">
				<a href="#" class="header__languages-item">rus</a>
				<a href="#" class="header__languages-item header__languages-item_active">eng</a>
			</div>
		</div>

		<a href="#" class="header__burger js-menu-toggler">
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
		</a>
	</div>
</header>
{#/HEADER#}