{#MOBILE MENU#}
<div class="mobile-menu" id="mobile-menu">
	<div class="mobile-menu__list">
		<div class="mobile-menu__nav">
			<a href="#" class="mobile-menu__nav-item mobile-menu__nav-item_active">about</a>
			<a href="#" class="mobile-menu__nav-item">services</a>
			<a href="#" class="mobile-menu__nav-item">practices</a>
			<a href="#" class="mobile-menu__nav-item">portfolio</a>
			<a href="#" class="mobile-menu__nav-item">we hiring</a>
			<a href="#" class="mobile-menu__nav-item">contacts</a>
		</div>
		<div class="mobile-menu__socials">
			<a href="#" class="mobile-menu__socials-item">facebook</a>
			<a href="#" class="mobile-menu__socials-item">instagram</a>
		</div>
	</div>
	<div class="mobile-menu__lang">
		<a href="#" class="mobile-menu__lang-item">rus</a>
		<a href="#" class="mobile-menu__lang-item mobile-menu__lang-item_active">eng</a>
	</div>
	{#<a href="#" class="mobile-menu__close header__burger js-menu-toggler">#}
		{#<span class="header__burger-line"></span>#}
		{#<span class="header__burger-line"></span>#}
		{#<span class="header__burger-line"></span>#}
	{#</a>#}
</div>
{#/MOBILE MENU#}