.contacts {
	margin-bottom: 85px;
	margin-top: 50px;

	&__title {
		margin-bottom: 31px;
	}

	&__container {
		display: flex;
	}
	&__form-col {
		width: 60%;
		padding-right: 20px;
		position: relative;
	}

	&__map-col {
		width: 40%;
	}

	&__form-col-wrap {
		.std-transition();
		&_message {
			opacity: 0;
			visibility: hidden;
		}
	}
	&__form-col-title {
		.light();
		font-size: @25;
		color: @text-color;
		margin-bottom: 20px;
		position: relative;
	}
	&__form-col-title-detail {
		position: absolute;
		z-index: 10;
		left: -20px;
		top: -17px;
		.svg-icon(icon-flight, 60px, 60px);
		.animate-translate();
		transform: translateX(-100px);
		transition-delay: 500ms;
	}
	&__form-col-title-text {
		position: relative;
		z-index: 20;
	}
	&__form-success {
		max-width: 240px;
		padding-top: 71px;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		min-height: 200px;
	}
	&__form-success-detail {
		position: absolute;
		z-index: 10;
		left: 30px;
		top: 0;
		.svg-icon-param(icon-flight, 120px, 120px, '[fill]: #85F937');
		.animate-translate();
		transform: translateX(-100px);
		transition-delay: 500ms;
	}
	&__form-success-text {
		color: @text-color;
		font-size: @25;
		line-height: 1.6;
		margin-bottom: 21px;
		.light();
		position: relative;
		z-index: 20;
	}
	&__form-success-link {
		color: @text-color;
		font-size: @15;
		text-decoration: none;
		padding-bottom: 2px;
		border-bottom: 1px solid @torquoise-color;
		.std-transition();
		.light();
		position: relative;
		z-index: 20;

		&:hover {
			color: @torquoise-color;
		}
	}

	&__map-col-title {
		.light();
		font-size: @25;
		color: @text-color;
		margin-bottom: 20px;
	}
	&__map {
		position: relative;
		height: 475px;
	}
	&__address-block {
		background: #F6FAF9;
		padding: 35px 35px 10px;
	}
	&__address {
		.light();
		line-height: 1.666;
		font-size: @15;
		color: @text-color;
		a {
			text-decoration: none;
			color: @text-color;
		}
	}
	&__socials {
		position: absolute;
		top: 35px;
		right: 48px;
	}
	&__socials-item {
		display: block;
		width: 24px;
		height: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 18px;
		&:last-child {
			margin-bottom: 0;
		}
		&:after {
			content: "";
			display: block;
			.contacts__socials-item_instagram & {
				.svg-icon(icon-instagram, 24px, 24px);
			}
			.contacts__socials-item_facebook & {
				.svg-icon(icon-facebook, 12px, 24px);
			}
			.contacts__socials-item_twitter & {
				.svg-icon(icon-twitter, 24px, 20px);
			}
		}
		&_instagram:after {
			.svg-icon(icon-instagram, 24px, 24px);
		}
		&_instagram:hover:after {
			.svg-icon-param(icon-instagram, 24px, 24px, '[fill]:@{red-color}');
		}
		&_facebook:after {
			.svg-icon(icon-facebook, 12px, 24px);
		}
		&_facebook:hover:after {
			.svg-icon-param(icon-facebook, 12px, 24px, '[fill]:@{green-color}');
		}
		&_twitter:after {
			.svg-icon(icon-twitter, 24px, 20px);
		}
		&_twitter:hover:after {
			.svg-icon-param(icon-twitter, 24px, 20px, '[fill]:@{blue-color}');
		}
	}

	&__google-map {
		height: 300px;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(180deg, #F6FAF9 0%, rgba(246, 250, 249, 0) 100%);
			pointer-events: none;
		}
		&:hover:after {
			//display: none;
		}
	}
}

@media screen and (max-width: 1000px) {
	.contacts {

		&__container {
			flex-direction: column-reverse;
		}
		&__form-col {
			width: 100%;
			padding-right: 0;
		}
		&__map-col {
			width: 100%;
			margin-bottom: 50px;
		}
	}
}

@media screen and (max-width: 580px) {
	.contacts {

		&__address-block {
			padding: 70px 35px 10px;
		}
		&__socials {
			top: 20px;
			right: auto;
			left: 35px;
			display: flex;
			align-items: center;
		}
		&__socials-item {
			margin-bottom: 0;
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}