.magazines {
	max-width: 70%;
	&__title {
		.light();
		font-size: @25;
		color: @text-color;
		margin-bottom: 16px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		margin-right: 60px;
		margin-bottom: 45px;
		width: 180px;
		display: block;
		text-decoration: none;
	}
	&__item-image {
		margin-bottom: 10px;
		position: relative;
		top: 0;
		.item-transition();
		&:hover {
			top: -10px;
			box-shadow: 0 30px 60px rgba(0, 0, 0, .2);
		}
	}
	&__item-img {
		vertical-align: middle;
		max-width: 100%;
	}
	&__item-title {
		.light();
		line-height: 1.66;
		font-size: @15;
		color: @text-color;
	}
	&__item-mag-title {
		.medium();
	}
}

@media screen and (max-width: 1000px) {
	.magazines {
		max-width: 100%;
	}
}

@media screen and (max-width: 700px) {
	.magazines {
		&__item {
			margin-right: 30px;
			margin-bottom: 30px;
		}
	}
}