.portfolio-item {
	margin-top: 30px;
	margin-bottom: 60px;

	&__container {

	}
	&__date {
		.light();
		font-size: @15;
		color: @text-color;
		margin-bottom: 10px;
		margin-left: 4px;
	}
	&__title {
		margin-bottom: 40px;
		.thin();
	}
	&__text {
		.light();
		color: @text-color;
		line-height: 1.6;
		font-size: @25;
		max-width: 76%;
		margin-bottom: 107px;
	}

	&__info-line {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		max-width: 80%;
		margin-bottom: 60px;
	}
	&__clients {
		flex-grow: 20;
		width: 50%;
		max-width: 50%;
	}
	&__services {
		flex-grow: 10;
		width: 25%;
		max-width: 25%;
	}
	&__external {
		flex-grow: 10;
		width: 25%;
		max-width: 25%;
	}
	&__info-line-heading {
		.medium();
		font-size: @13;
		letter-spacing: 1px;
		color: @text-color;
		text-transform: uppercase;
		margin-bottom: 16px;
	}

	&__clients-list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;;
	}
	&__clients-logo {
		margin-right: 15px;
		max-width: 120px;
		margin-bottom: 15px;
	}
	&__services-list {

	}
	&__services-item {
		margin-bottom: 10px;
		overflow: hidden;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__external-list {
		overflow: hidden;
	}
	&__external-item {
		margin-bottom: 10px;
		overflow: hidden;
		white-space: normal;
		word-break: break-all;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__fotorama-wrap {
		margin-bottom: 56px;
	}

	&__text-block {
		margin-bottom: 45px;
		max-width: 70%;
	}
	&__text-block-heading {
		.light();
		font-size: @25;
		color: @text-color;
		margin-bottom: 16px;
	}

	&__facts {
		margin-bottom: 24px;
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	&__facts-item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		width: 200px;
		margin-right: 47px;
		margin-bottom: 20px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__facts-item-count {
		position: relative;
		margin-bottom: 10px;
	}
	&__facts-item-count-text {
		font-size: @55;
		color: @text-color;
		.light();
		position: relative;
		z-index: 20;
	}
	&__facts-item-count-shape {
		position: absolute;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: @blue-color;
		bottom: -15px;
		left: -10px;
		.animate-circle();
		transition-delay: 200ms;

		.portfolio-item__facts-item:first-child & {
			top: -20px;
			bottom: auto;
			border-radius: 0;
			.svg-icon-param(icon-detail-3, 60px, 60px, '[fill]: #FF4B4B');
			.animate-translate();
			transform: translateX(-100px);
			transition-delay: 200ms;
			z-index: 10;
		}
	}
	&__facts-item-text {
		font-size: @15;
		.light();
		color: @text-color;
		position: relative;
		z-index: 20;
	}

	&__gallery {
		margin-bottom: 51px;
	}

	&__video {
		margin-bottom: 50px;
	}

	&__back {
		margin: 70px 0;
	}
}

@media screen and (max-width: 1000px) {
	.portfolio-item {

		&__text {
			max-width: 100%;
		}
		&__info-line {
			max-width: 100%;
			flex-direction: column;
		}
		&__clients {
			width: 100%;
			max-width: 100%;
			margin-bottom: 35px;
		}
		&__services {
			width: 100%;
			max-width: 100%;
			margin-bottom: 35px;
		}
		&__external {
			width: 100%;
			max-width: 100%;
		}
		&__text-block {
			max-width: 100%;
		}
	}
}

@media screen and (max-width: 700px) {
	.portfolio-item {

		&__title {
			margin-bottom: 20px;
		}
		&__text {
			font-size: @18;
			margin-bottom: 40px;
		}
	}
}
