.portfolio {
	margin-top: 30px;
	margin-bottom: 60px;

	&__container {

	}
	&__title {
		margin-bottom: 40px;
	}
	&__list {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	&__item {
		text-decoration: none;
		width: calc(~"(100% - 60px) / 2");
		margin-right: 60px;
		margin-bottom: 40px;
		position: relative;

		&:nth-child(2n) {
			margin-right: 0;
		}
	}
	&__item-img {
		width: 100%;
		margin-bottom: 11px;
		position: relative;
		//overflow: hidden;
		.item-transition();
		top: 0;
		.portfolio__item:hover & {
			top: -10px;
			box-shadow: 0 30px 60px rgba(0, 0, 0, .2);
		}
		&:after {
			display: none;
		}
		.portfolio__item_no-photo & {
			height: 0;
			padding-bottom: 62.962963%;
			background: #F6FAF9;
			&:after {
				display: block;
			}
		}
		.portfolio__item_icon-bottom & {
			&:after {
				content: '';
				position: absolute;
				top: 20px;
				right: 20px;
				.svg-icon-param(icon-detail-2, 128px, 256px, '[fill]: #ffffff');
			}
		}
		.portfolio__item_icon-top & {
			&:after {
				content: '';
				position: absolute;
				bottom: 40px;
				left: 40px;
				.svg-icon-param(icon-detail-1, 160px, 168px, '[fill]: #ffffff');
			}
		}
	}
	&__item-date {
		position: absolute;
		left: 10px;
		top: 8px;
		font-size: @15;
		color: white;
		.light();
		.item-transition();
		.portfolio__item_no-photo & {
			color: @text-color;
		}
		.portfolio__item_photo:hover & {
			top: -3px;
		}
	}
	&__item-service-type {
		position: absolute;
		.item-transition();
		.portfolio__item_icon-bottom & {
			left: 20px;
			bottom: 20px;
		}
		.portfolio__item_icon-bottom:hover & {
			left: -20px;
		}
		.portfolio__item_icon-top & {
			right: 20px;
			top: 20px;
		}
		.portfolio__item_icon-top:hover & {
			right: -20px;
		}
	}
	&__item-service-type-img {

	}
	&__item-title {

	}
	&__item-title-part {
		font-size: @25;
		color: @text-color;
		line-height: 1.4;
		&:first-child {
			.light();
		}
		&:last-child {
			.regular();
		}
	}
}

@media screen and (max-width: 1200px) {
	.portfolio {

		&__container {
			padding-left: 15px;
			padding-right: 15px;
		}

		&__item {
			width: calc(~"(100% - 30px) / 2");
			margin-right: 30px;
		}
	}
}

@media screen and (max-width: 900px) {
	.portfolio {
		&__container {
			padding-left: 30px;
			padding-right: 30px;
		}
		&__list {
			flex-direction: column;
			flex-wrap: nowrap;
		}
		&__item {
			width: 100%;
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 500px) {
	.portfolio {
		&__container {
			padding-left: 15px;
			padding-right: 15px;
		}
		&__item-img {
			.portfolio__item_icon-bottom & {
				&:after {
					top: 10px;
					right: 10px;
					.svg-icon-param(icon-detail-2, 64px, 128px, '[fill]: #ffffff');
				}
			}
			.portfolio__item_icon-top & {
				&:after {
					bottom: 20px;
					left: 20px;
					.svg-icon-param(icon-detail-1, 90px, 84px, '[fill]: #ffffff');
				}
			}
		}
		&__item-service-type-img {
			max-width: 40px;
			max-height: 40px;
		}
		&__item-title-part {
			font-size: @20;
		}
	}
}