.btn {
	display: inline-block;
	height: 60px;
	border: 0 !important;
	background: transparent;
	cursor: pointer;
	position: relative;
	background: @torquoise-color;
	padding: 0 40px;

	.medium();
	line-height: 60px;
	font-size: @15;
	letter-spacing: 1.5px;
	color: white;
	.std-transition();
	text-transform: uppercase;
	outline: none;
	-webkit-appearance: none;
	border-radius: 0 !important;

	&:disabled {
		background: #B0C1C0;
		cursor: not-allowed;
	}

	&_block {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		.std-transition();
		background: linear-gradient(90deg, @torquoise-color 0%, #4FFFF1 100%);
		opacity: 0;
		visibility: hidden;

		.btn:hover & {
			opacity: 1;
			visibility: visible;
		}
		.btn:hover:disabled & {
			opacity: 0;
			visibility: hidden;
		}
	}
	&__text {
		position: relative;
		z-index: 20;
	}
}

