.detail-animate-scale {
	.animate-circle();
	transition-delay: 400ms;
}
.detail-animate-move-from {
	&-left-bottom {
		.animate-translate();
		transform: translate(-100px, 50px);
		transition-delay: 400ms;
	}
	&-right-bottom {
		.animate-translate();
		transform: translate(100px, 50px);
		transition-delay: 400ms;
	}
	&-left-top {
		.animate-translate();
		transform: translate(-100px, -50px);
		transition-delay: 400ms;
	}
	&-right-top {
		.animate-translate();
		transform: translate(100px, -50px);
		transition-delay: 400ms;
	}
	&-left {
		.animate-translate();
		transform: translateX(-100px);
		transition-delay: 400ms;
	}
	&-right {
		.animate-translate();
		transform: translateX(100px);
		transition-delay: 400ms;
	}
	&-top {
		.animate-translate();
		transform: translateY(-100px);
		transition-delay: 400ms;
	}
	&-bottom {
		.animate-translate();
		transform: translateY(100px);
		transition-delay: 400ms;
	}
}
.detail-transform-origin {
	&-left-top {
		transform-origin: left top;
	}
	&-right-top {
		transform-origin: right top;
	}
	&-center-top {
		transform-origin: center top;
	}
	&-left-bottom {
		transform-origin: left bottom;
	}
	&-right-bottom {
		transform-origin: right bottom;
	}
	&-center-bottom {
		transform-origin: center bottom;
	}
	&-left-middle {
		transform-origin: left center;
	}
	&-right-middle {
		transform-origin: right center;
	}
	&-center-middle {
		transform-origin: center center;
	}
}

.detail-transition-delay {
	&-100 {
		transition-delay: 100ms;
	}
	&-200 {
		transition-delay: 200ms;
	}
	&-300 {
		transition-delay: 300ms;
	}
	&-400 {
		transition-delay: 400ms;
	}
	&-500 {
		transition-delay: 500ms;
	}
	&-600 {
		transition-delay: 600ms;
	}
	&-700 {
		transition-delay: 700ms;
	}
	&-800 {
		transition-delay: 800ms;
	}
	&-900 {
		transition-delay: 900ms;
	}
	&-1000 {
		transition-delay: 1000ms;
	}

}