.form {

	&__input-container {
		display: flex;
		justify-content: space-between;
	}

	&__input-holder {
		width: 100%;
		margin-bottom: 19px;
		position: relative;
		border: 1px solid #EDF6F3;
		border-style: solid none;
		padding: 8px 0 4px;
		&_upload {
			padding: 0;
			border: none;
		}

		&_focus {
			&:before {
				content: "";
				position: absolute;
				top: -1px;
				left: 50%;
				width: 1px;
				bottom: -1px;
				border-color: @torquoise-color;
				border-style: solid none;
				border-width: 1px;
				animation: expandWidth .3s ease both;

				@keyframes expandWidth {
					from {
						width: 1px;
						left: 50%;
					}
					to {
						width: 100%;
						left: 0;
					}
				}
			}
		}

		&.error {
			&:before {
				content: "";
				position: absolute;
				top: -1px;
				left: 50%;
				width: 1px;
				bottom: -1px;
				border-color: @red-color;
				border-style: solid none;
				border-width: 1px;
				animation: expandWidth .3s ease both;
			}
		}

		.form__input-container & {
			//flex-grow: 20;
			width: calc(~"50% - 10px");
			&:first-child {
				margin-right: 20px;
			}
		}
	}

	label.error {
		position: absolute;
		.light();
		font-size: @12;
		color: @red-color;
		right: 0;
		top: 10px;
	}

	&__input-label {
		display: block;
		.medium();
		font-size: @15;
		color: @text-color;
		margin-bottom: 6px;
	}

	&__input {
		display: block;
		height: 25px;
		line-height: 25px;
		width: 100%;
		padding: 0;
		border: none;
		border-radius: 0;
		box-shadow: none;
		background: transparent;
		-webkit-appearance: none;

		outline: none;
		color: @text-color;
		.light();
		font-size: @16;
	}

	&__textarea {
		display: block;
		height: 54px;
		line-height: 1.2;
		width: 100%;
		padding: 0;
		border: none;
		border-radius: 0;
		box-shadow: none;
		background: transparent;
		-webkit-appearance: none;

		outline: none;
		color: @text-color;
		.light();
		font-size: @16;
	}

	&__checkbox-holder {
		display: flex;
		max-width: 80%;
		margin-bottom: 24px;
	}
	&__checkbox {
		width: 20px;
		margin-right: 10px;
	}
	&__checkbox-text {
		.light();
		line-height: 1.66;
		font-size: @12;
		color: @text-color;

		a {
			font-size: inherit;
		}
	}

	&__select-holder {
		overflow: hidden;
		width: 100%;
		height: 25px;
		background: svg('icon-select-caret') no-repeat 96% center;
	}
	&__select {
		background: transparent;
		border: none;
		border-radius: 0;
		width: 110%;
		height: 25px;
		outline: none;
		padding: 0;
		color: @text-color;
		.light();
		font-size: @16;
		margin-left: -4px;
		margin-right: -7px;
	}

	&__upload {
		display: flex;
		align-items: center;
	}
	&__upload-link {
		border: 1px solid @torquoise-color;
		display: block;
		height: 40px;
		padding: 0 15px;
		.medium();
		line-height: 40px;
		font-size: @15;
		color: @torquoise-color;
		cursor: pointer;
		transition: all .2s ease;
		margin-right: 20px;
		&:hover {
			background: @torquoise-color;
			color: white;
		}
	}
	&__upload-input {
		visibility: hidden;
		width: 0;
		height: 0;
		text-indent: -9999px;
		overflow: hidden;
	}
	&__upload-info {
		display: flex;
		align-items: center;
		vertical-align: middle;
	}
	&__upload-descr {
		color: @text-color;
		.light();
		font-size: @14;
		margin-right: 6px;
		position: relative;
		max-width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		white-space: nowrap;
		vertical-align: middle;
		&_tip {
			color: #B0C1C0;
			padding-left: 0;
		}
	}
	&__upload-clear {
		display: none;
		width: 16px;
		height: 16px;
		background: @red-color;
		cursor: pointer;
		transition: all .15s ease;
		border-radius: 50%;
		position: relative;
		vertical-align: -3px;
		&:after {
			content:'';
			width: 8px;
			height: 1px;
			background-color: white;
			position: absolute;
			top: 8px;
			left: 50%;
			margin-left: -4px;
			transform: rotate(45deg);
		}
		&:before {
			content:'';
			width: 8px;
			height: 1px;
			background-color: white;
			position: absolute;
			top: 8px;
			left: 50%;
			margin-left: -4px;
			transform: rotate(-45deg);
		}
		&:hover {
			background-color: #980933;
		}
	}
	&__input-error {
		display: block;
		color: @red-color;
		margin-top: 4px;
		.light();
		font-size: @14;
	}


}

@media screen and (max-width: 1000px) {
	.form {
		&__checkbox-holder {
			max-width: 100%;
		}
	}
}

@media screen and (max-width: 580px) {
	.form {
		&__input-container {
			flex-direction: column;
		}

		&__input-holder {

			.form__input-container & {
				width: 100%;
				&:first-child {
					margin-right: 0;
				}
			}
		}

		&__upload {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}
		&__upload-link {
			margin-bottom: 20px;
		}
	}
}