.icheck {
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #B0C1C0;

	&.checked {
		&:before {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			.svg-icon(icon-checkbox, 9px, 9px);
			margin-left: -4px;
			margin-top: -4px;
			pointer-events: none;
		}
	}
}