.info-box {
	color: @text-color;
	font-size: @25;
	line-height: 1.55;
	.light();

	&_hiring {
		font-size: @15;
	}
	&_vac {
		line-height: 1.67;
		font-size: @15;

		h2 {
			.medium();
			font-size: @15;
			text-transform: uppercase;
			letter-spacing: 1.04px;
			color: @text-color;
			margin-bottom: 20px;
		}
		h3 {
			.medium();
			font-size: @13;
			text-transform: uppercase;
			letter-spacing: 1.04px;
			color: @text-color;
			margin-bottom: 20px;
		}
	}

	.team__item-desc & {
		line-height: 1.7;
	}

	&_standard {
		font-size: @15;
		line-height: 1.66;

		a {
			font-size: inherit;
			color: @text-color;
			position: relative;
			white-space: nowrap;
			text-decoration: none;
			&:after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 100%;
				border-bottom: 1px solid @torquoise-color;
			}
			&:hover {
				color: @torquoise-color;
			}
		}
	}

	h2 {
		color: @text-color;
		font-size: @25;
		.light();
		margin-bottom: 10px;
	}

	h3 {
		.info-box_vac & {

			.medium();
			font-size: @13;
			text-transform: uppercase;
			letter-spacing: 1.04px;
			color: @text-color;
			margin-bottom: 20px;
		}
	}

	b, strong {
		.medium();
	}

	p {
		font-size: inherit;
		margin-bottom: 15px;

		.who-we-are & {
			color: @text-color;
			font-size: @55;
			line-height: 1.3;
			.light();
		}
		.practices__item-desc & {
			font-size: @15;
			color: @text-color;
			text-align: center;
			line-height: 1.7;
			.light();
		}
		.serv-inner & {
			font-size: @15;
			line-height: 1.67;
			.light();
			color: @text-color;
			text-align: left;
			margin-bottom: 36px;
		}
		.about__text & {
			margin-bottom: 34px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.team__item-desc & {
			font-size: @15;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.hiring__text & {
			margin-bottom: 9px;
		}
	}

	img {
		max-width: 100%;
	}

	ul {
		margin-bottom: 31px;
		li {
			font-size: @15;
			line-height: 1.55;
			margin-bottom: 12px;
			color: @text-color;
			.light();
			position: relative;
			padding-left: 20px;
			.info-box_vac & {
				line-height: 1.7;
				margin-bottom: 10px;
			}
			&:after {
				content: '—';
				position: absolute;
				left: 0;
				top: 1px;
				font-size: @15;
				color: @text-color;
				.light();
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.info-box {
		p {
			.who-we-are & {
				font-size: @40;
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.info-box {
		font-size: @18;
	}
}

@media screen and (max-width: 580px) {
	.info-box {
		p {
			.who-we-are & {
				font-size: @25;
			}
		}
	}
}
