// RESET CSS
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;	border: 0; font-size: 16px;	font: inherit;}

input, textarea {outline: none;}
textarea {resize: none;}

 // HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}

* {
	box-sizing: border-box;
}

.all-wrap {
	overflow: hidden;
	min-height: 100vh;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.7);
		z-index: 0;
		opacity: 0;
		visibility: hidden;
		transition: all .7s ease;
	}
	&.menu-open {
		height: 484px;
		&:after {
			opacity: 1;
			visibility: visible;
			z-index: 20;
		}
	}
}

@container-width: 1440px;
@middle-container-width: 1140px;
@small-container-width: 1060px;

//Standart container
.container {
	max-width: @container-width;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	&_special {
		padding-left: 0;
		padding-right: 0;
		position: relative;
	}

	@media screen and (max-width: 700px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.middle-container {
	max-width: @middle-container-width;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	@media screen and (max-width: 1200px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.small-container {
	max-width: @small-container-width;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	@media screen and (max-width: 1160px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

body {
	min-width: 320px;
	text-align: left;
	position: relative;
	.regular();

}

.hidden-element {display: none;}
