

@red-color: #FF4B4B;
@yellow-color: #FFEC61;
@blue-color: #4BE9FF;
@green-color: #85F937;
@violet-color: #934BFF;
@text-color: #0A1B1A;
@torquoise-color: #30D5C8;


.svg-icon(@icon, @width, @height) {
	background: svg('@{icon}') no-repeat 0 0;
	background-size: @width @height;
	width: @width;
	height: @height;
}

.svg-icon-param(@icon, @width, @height, @param) {
	background: svg('@{icon}', '@{param}') no-repeat 0 0;
	background-size: @width @height;
	width: @width;
	height: @height;
}

.std-transition() {
	transition: all .3s ease;
}

// Animations
.hidden {
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease;
	&.loaded {
		.visible();
	}
}
.visible {
	opacity: 1;
	visibility: visible;
}
.animate-scale {
	.hidden();
	&.loaded {
		transform: scale(1);
	}
}
.animate-translate {
	.hidden();
	&.loaded {
		transform: translate(0);
	}
}

.animate-circle() {
	.animate-scale();
	transform: scale(0);
}

.item-transition() {
	transition: all .5s cubic-bezier(.25, .1, .25, 1);
}