.back-module {
	&__link {
		.medium();
		font-size: @15;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		color: @text-color;
		position: relative;
		text-decoration: none;
		//.std-transition();
		&:before {
			content: "";
			position: absolute;
			.svg-icon(arrow-back, 40px, 14px);
			left: -60px;
			top: 3px;
		}
		&:hover {
			color: @torquoise-color;
			&:before {
				.svg-icon(arrow-back-hover, 40px, 14px);
			}
		}
	}

}

@media screen and (max-width: 1300px) {
	.back-module {
		&__link {
			padding-left: 60px;
			&:before {
				left: 0;
			}
		}
	}
}