.footer {
	padding-bottom: 18px;
	position: relative;
	z-index: 20;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__left-part {
		display: flex;
		align-items: center;
	}
	&__idea-grande {
		color: @text-color;
		font-size: @15;
		.light();
		margin-right: 32px;
	}
	&__presentation {
		color: @text-color;
		font-size: @15;
		.light();
		margin-right: 32px;
		text-decoration: none;
		.std-transition();
		//padding-bottom: 3px;
		//border-bottom: 1px solid transparent;
		&:hover {
			color: @torquoise-color;
			//border-bottom-color: @torquoise-color;
		}
	}
	&__privacy {
		color: @text-color;
		font-size: @15;
		.light();
		text-decoration: none;
		.std-transition();
		//padding-bottom: 3px;
		//border-bottom: 1px solid transparent;
		&:hover {
			color: @torquoise-color;
			//border-bottom-color: @torquoise-color;
		}
	}

	&__development {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&__development-text {
		color: @text-color;
		font-size: @15;
		.light();
		margin-right: 10px;
		&_special {
			margin-right: 4px;
		}
	}
	&__development-icon {
		.svg-icon(icon-heart, 16px, 15px);
		margin-right: 10px;
	}
	&__development-link {
		color: @text-color;
		font-size: @15;
		.light();
		text-decoration: none;
		.std-transition();
		&:hover {
			color: @torquoise-color;
		}
	}
}

@media screen and (max-width: 800px) {
	.footer {

		&__container {
			flex-direction: column;
		}
		&__left-part {
			margin-bottom: 20px;
		}
	}
}

@media screen and (max-width: 530px) {
	.footer {
		//padding-bottom: 70px;
		padding-bottom: 33px;

		&__container {
			align-items: flex-start;
		}
		&__left-part {
			flex-direction: column;
			align-items: flex-start;
		}
		&__idea-grande {
			margin-right: 0;
			margin-bottom: 10px;
		}
		&__presentation {
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
}