.header {
	padding-top: 20px;
	padding-bottom: 110px;

	&__container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		position: relative;
	}
	&__menu {
		display: flex;
		align-items: center;
		margin-top: 7px;
	}
	&__menu-item {
		font-size: @15;
		.light();
		color: @text-color;
		text-decoration: none;
		padding-bottom: 16px;
		border-bottom: 2px solid transparent;
		margin-right: 20px;
		.std-transition();
		text-transform: lowercase;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			color: @torquoise-color;
		}
		&_active {
			border-bottom-color: @torquoise-color;
			&:hover {
				color: @text-color;
			}
		}
	}

	&__logo {
		width: 167px;
		height: 120px;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -83px;
		&_response {
			display: none;
		}
	}
	&__logo-img {

	}
	&__right-part {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-top: 7px;
	}
	&__socials {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-right: 40px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			right: -22px;
			top: 0;
			width: 1px;
			height: 10px;
			background: #E7EFEE
		}
	}
	&__socials-link {
		font-size: @15;
		.light();
		color: @text-color;
		text-decoration: none;
		padding-bottom: 11px;
		border-bottom: 2px solid transparent;
		margin-right: 20px;
		.std-transition();
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			color: @torquoise-color;
		}
	}

	&__languages {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&__languages-item {
		font-size: @15;
		.light();
		color: @text-color;
		text-decoration: none;
		padding-bottom: 11px;
		border-bottom: 2px solid transparent;
		margin-right: 20px;
		.std-transition();
		&:last-child {
			margin-right: 0;
		}
		&_active {
			border-bottom-color: @torquoise-color;
		}
		&:hover {
			color: @torquoise-color;
		}
	}

	&__burger {
		display: none;
		width: 80px;
		height: 80px;
		background: #F6FAF9;
		position: relative;
		z-index: 210;
		overflow: hidden;
		transition: all .5s ease .5s;
	}
	&__burger-line {
		position: absolute;
		left: 25px;
		height: 2px;
		width: 30px;
		background: @text-color;
		transition: all .3s cubic-bezier(0.25, 0.1, 0.25, 1);
		&:first-child {
			top: 30px;
		}
		&:nth-child(2) {
			top: 39px;
			width: 20px;
		}
		&:last-child {
			top: 48px;
		}
		.header__burger_open & {
			&:first-child {
				transform: rotate(-45deg);
				top: 43px;
			}
			&:nth-child(2) {
				left: 0;
				opacity: 0;
			}
			&:last-child {
				transform: rotate(45deg);
				top: 43px;
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.header {
		padding-top: 0;
		padding-bottom: 0;

		&__container {
			padding-right: 0;
			padding-left: 20px;
		}
		&__menu {
			display: none;
		}
		&__logo {
			padding-top: 10px;
			position: relative;
			margin-left: 0;
			left: auto;
			top: auto;
		}
		&__right-part {
			display: none;
		}
		&__burger {
			display: block;
		}
	}
}

@media screen and (max-width: 580px) {
	.header {

		&__logo {
			width: 125px;
			height: 90px;
		}
		&__logo-img {
			max-width: 100%;
			max-height: 100%;
		}
	}
}