.mobile-menu {
	position: absolute;
	padding-bottom: 20px;
	background: #F6FAF9;
	z-index: 100;
	transition: all .5s ease;
	top: 0;
	width: 400px;
	right: -400px;
	&_open {
		right: 0;
		overflow-x: hidden;
		overflow-y: scroll;
		height: 100%;
	}

	&__list {
		display: flex;
		align-items: flex-end;
		margin-top: 44px;
		margin-bottom: 44px;
	}
	&__nav {
		margin-right: 20px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__nav-item {
		padding-left: 20px;
		padding-bottom: 9px;
		border-bottom: 2px solid transparent;
		margin-bottom: 24px;
		text-decoration: none;

		color: @text-color;
		.light();
		font-size: @22;
		&:last-child {
			margin-bottom: 0;
		}
		&_active {
			border-bottom-color: @blue-color;
		}
	}

	&__socials {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__socials-item {
		padding-left: 20px;
		padding-bottom: 9px;
		border-bottom: 2px solid transparent;
		margin-bottom: 24px;
		text-decoration: none;

		color: @text-color;
		.light();
		font-size: @22;
		&:last-child {
			margin-bottom: 0;
		}
		&_active {
			border-bottom-color: @blue-color;
		}
	}
	&__lang {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__lang-item {
		padding-left: 20px;
		padding-bottom: 9px;
		border-bottom: 2px solid transparent;
		margin-bottom: 24px;
		text-decoration: none;

		color: @text-color;
		.light();
		font-size: @22;
		&:last-child {
			margin-bottom: 0;
		}
		&_active {
			border-bottom-color: @blue-color;
		}
	}
	&__close {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		right: 0;
		top: 0;
		.mobile-menu_open & {
			opacity: 1;
			visibility: visible;
		}
	}
}

@media screen and (max-width: 768px) {
	.mobile-menu {
		width: 300px;
		right: -300px;
		&_open {
			right: 0;
			overflow-x: hidden;
			overflow-y: scroll;
		}
		&__nav-item {
			font-size: @18;
		}

		&__socials-item {
			font-size: @18;
		}
		&__lang-item {
			font-size: @18;
		}
	}
}