.special-video {
	max-width: 80%;
	&__link {
		display: block;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			width: 80px;
			height: 80px;
			margin-left: -40px;
			margin-top: -40px;
			background: rgba(10, 27, 26, 0.75);
			border-radius: 50%;
			transition: background .2s ease;
		}
		&:after {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			.svg-icon(icon-play, 30px, 30px);
			margin-left: -10px;
			margin-top: -15px;
		}
		&:hover:before {
			background: @red-color;
		}
	}
	&__img {
		max-width: 100%;
		display: block;
	}
}

@media screen and (max-width: 1000px) {
	.special-video {
		max-width: 100%;
	}
}