.special-gallery {
	&__main {
		margin-bottom: 14px;
		max-width: 80%;
		position: relative;
		padding-right: 20px;
	}
	&__main-slide {
	}
	&__main-img {
		max-width: 100%;
	}
	&__main-copyright {
		.light();
		font-size: @15;
		color: @text-color;
		transform-origin: left center;
		transform: rotate(90deg);
		white-space: nowrap;

		position: absolute;
		top: 0;
		left: calc(~"100% - 10px");
	}

	&__controls {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -15px;
	}
	&__controls-item {
		margin-right: 15px;
		margin-bottom: 15px;
		width: 60px;
		cursor: pointer;
		&.active {
			border-bottom: 5px solid @torquoise-color;
			cursor: default;
		}
	}
	&__item-img {
		max-width: 100%;
		display: block;
	}
}

@media screen and (max-width: 1000px) {
	.special-gallery {
		&__main {
			max-width: 100%;
			padding-right: 0;
			padding-top: 20px;
		}
		&__main-copyright {
			top: 0;
			left: 0;
			transform: rotate(0deg);
		}
	}
}