.torquoise-link {
	.light();
	font-size: @15;
	color: @torquoise-color;
	text-decoration: underline;
	white-space: normal;
	&:hover {
		text-decoration: underline;
	}
	&__inner {
		color: @text-color;
		.torquoise-link:hover & {
			color: @torquoise-color;
		}
	}
}