.cases {
	margin-bottom: 100px;

	&__container {

	}
	&__bg {
		background: #F6FAF9;
		width: 100%;
		height: 420px;
	}
	&__content {
		margin-top: -367px;
	}
	&__title {
		max-width: @small-container-width;
		margin-left: auto;
		margin-right: auto;
	}
	&__list {
		max-width: 1145px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		align-items: flex-start;
	}
	&__column {
		margin-right: 60px;
		.serv-inner__cases-list & {
			margin-top: 0;
			width: 80%;
		}
		&:first-child {
			width: 26.5%;
			min-width: 26.5%;
			margin-top: 53px;
			.serv-inner__cases-list & {
				width: calc(~"100% - 60px - 240px");
				margin-top: 0;
				margin-bottom: 60px;
			}
		}
		&:nth-child(2) {
			width: 240px;
			min-width: 240px;
			margin-top: 83px;
			.serv-inner__cases-list & {
				margin-right: 0;
			}
		}
		&:nth-child(3) {
			margin-top: -17px;
			margin-right: 0;
			min-width: calc(~"100% - 29% - 240px - 120px");
			.serv-inner__cases-list & {
				margin-top: 0;
				width: 80%;
			}
		}
	}

	&__item {
		display: block;
		text-decoration: none;
		width: 100%;
		position: relative;

		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		&_bg {
			.item-transition();
			top: 0;
			&[href]:hover {
				top: -10px;
				box-shadow: 0 30px 60px rgba(0, 0, 0, .2);
			}
		}

		.cases__column:first-child & {
			padding-bottom: 173.1147541%;
			height: 0;
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 160px;
				background: linear-gradient(180deg, rgba(10, 27, 26, 0.0001) 0%, #0A1B1A 100%);
				z-index: 10;
			}
		}
	}
	&__item-image {
		width: 100%;
		position: relative;
		padding-bottom: 100%;
		height: 0;
		z-index: 10;
		top: 0;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		.item-transition();

		.cases__item[href] & {
			&:hover {
				top: -10px;
				box-shadow: 0 30px 60px rgba(0, 0, 0, .2);
			}
		}
		.serv-inner__cases-list & {
			margin-bottom: 11px;
			padding-bottom: 70%;
		}
		.cases__column:nth-child(2) & {
			padding-bottom: 0;
			height: 240px;
			margin-bottom: 39px;
		}
		.cases__column:last-child & {
			margin-bottom: 11px;
			padding-bottom: 70%;
		}
		.serv-inner__cases-list & {
			&:nth-child(2) {
				padding-bottom: 0;
				height: 240px;
				margin-bottom: 39px;
			}
		}
		.serv-inner__cases-list & {
			&:nth-child(3) {
				margin-bottom: 11px;
				padding-bottom: 70%;
			}
		}
	}
	&__item-detail {
		position: absolute;
		.cases__column:nth-child(2) & {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			mix-blend-mode: hard-light;
			background: #30D5C8;
			right: -30px;
			bottom: -30px;
			z-index: 20;
			.animate-circle();
			transition-delay: 200ms;
		}
		.cases__column:last-child & {
			.svg-icon-param(icon-detail-1, 80px, 84px, '[fill]: #FF4B4B');
			right: -40px;
			top: -42px;
			z-index: 20;
			.animate-translate();
			transform: translate(100px, -50px);
			transition-delay: 700ms;
		}
	}
	&__item-date {
		font-size: @15;
		color: white;
		position: absolute;
		left: 12px;
		top: 8px;
		.light();
	}
	&__item-title {

		.cases__column:first-child & {
			position: absolute;
			left: 10px;
			right: 20px;
			bottom: 4px;
			z-index: 20;
		}
		.cases__column:nth-child(2) & {
			margin-bottom: 10px;
		}
	}
	&__item-title-part {
		font-size: @25;
		color: @text-color;
		line-height: 1.6;
		&:first-child {
			.light();
		}
		&:last-child {
			.regular();
		}
		.cases__column:first-child & {
			color: white;
		}
	}

	&__fact {
		position: relative;
		.cases__column:last-child & {
			margin-bottom: 45px;
			width: 75%;
		}
	}
	&__fact-text {
		//font-size: @55;
		font-size: @45;
		color: @text-color;
		.light();
		line-height: 1.3;
		z-index: 20;
		position: relative;
	}
	&__fact-detail {
		position: absolute;
		z-index: 10;
		.cases__column:nth-child(2) & {
			.svg-icon(icon-detail-4, 96px, 55px);
			left: 136px;
			top: 10px;
			z-index: 10;
			.animate-translate();
			transform: translateY(100px);
			transition-delay: 100ms;
		}
		.cases__column:last-child & {
			.svg-icon-param(icon-detail-3, 60px, 60px, '[fill]: #FF4B4B');
			left: 20px;
			bottom: 15px;
			z-index: 10;
			.animate-translate();
			transform: translateX(-100px);
			transition-delay: 500ms;
		}
	}
}

@media screen and (max-width: 1200px) {
	.cases {

		&__column {
			margin-right: 30px;
			&:nth-child(3) {
				min-width: calc(~"100% - 29% - 240px - 60px");
			}
		}

		&__item {
			display: block;
			text-decoration: none;
			width: 100%;
			position: relative;

			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;

			.cases__column:first-child & {
				padding-bottom: 173.1147541%;
				height: 0;
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 160px;
					background: linear-gradient(180deg, rgba(10, 27, 26, 0.0001) 0%, #0A1B1A 100%);
					z-index: 10;
				}
			}
		}
		&__item-image {
			width: 100%;
			position: relative;
			padding-bottom: 100%;
			height: 0;
			z-index: 10;

			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;

			.cases__column:nth-child(2) & {
				padding-bottom: 0;
				height: 240px;
				margin-bottom: 39px;
			}
			.cases__column:last-child & {
				margin-bottom: 11px;
				padding-bottom: 70%;
			}
			.serv-inner__cases-list & {
				&:nth-child(2) {
					padding-bottom: 0;
					height: 240px;
					margin-bottom: 39px;
				}
			}
			.serv-inner__cases-list & {
				&:nth-child(3) {
					margin-bottom: 11px;
					padding-bottom: 70%;
				}
			}
		}
		&__item-detail {
			position: absolute;
			.cases__column:nth-child(2) & {
				width: 60px;
				height: 60px;
				border-radius: 50%;
				background: rgba(75, 233, 255, 0.8);
				right: -30px;
				bottom: -30px;
				z-index: 20;
				.animate-circle();
				transition-delay: 200ms;
			}
			.cases__column:last-child & {
				.svg-icon-param(icon-detail-1, 80px, 84px, '[fill]: #FF4B4B');
				right: -40px;
				top: -42px;
				z-index: 20;
				.animate-translate();
				transform: translate(100px, -50px);
				transition-delay: 700ms;
			}
		}
		&__item-date {
			font-size: @15;
			color: white;
			position: absolute;
			left: 15px;
			top: 6px;
			.light();
		}
		&__item-title {

			.cases__column:first-child & {
				position: absolute;
				left: 10px;
				right: 20px;
				bottom: 4px;
				z-index: 20;
			}
			.cases__column:nth-child(2) & {
				margin-bottom: 10px;
			}
		}
	}
}

@media screen and (max-width: 1100px) {
	.cases {
		&__column {
			.serv-inner__cases-list & {
				width: 480px;
				min-width: 480px;
			}
			&:first-child {

				.serv-inner__cases-list & {
					width: 305px;
					min-width: 305px;
					margin-right: 60px;
				}
			}
			&:nth-child(3) {

				.serv-inner__cases-list & {
					width: 480px;
					min-width: 480px;
				}
			}
		}
		&__fact-text {
			font-size: @40;
		}
	}
}

@media screen and (max-width: 1000px) {
	.cases {

		&__list {
			flex-wrap: wrap;
			max-width: 760px;
			margin-left: auto;
			margin-right: auto;
		}
		&__column {
			&:first-child {
				width: 305px;
				min-width: 305px;
				margin-right: 60px;
			}
			&:nth-child(2) {
				margin-right: 0;
			}
			&:nth-child(3) {
				width: 480px;
				min-width: 480px;
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.cases {
		&__list {
			flex-direction: column;
			align-items: flex-start;
			flex-wrap: nowrap;
			padding-left: 50px;
			padding-right: 20px;
		}
		&__column {
			.serv-inner__cases-list & {
				margin-right: 0;
				margin-top: 0;
			}
			&:first-child {
				margin-right: 0;
				margin-bottom: 45px;
				.serv-inner__cases-list & {
					margin-right: 0;
					margin-bottom: 45px;
				}
			}
			&:nth-child(2) {
				margin-right: 0;
				margin-top: 0;
				margin-bottom: 45px;
				.serv-inner__cases-list & {
					margin-right: 0;
					margin-top: 0;
					margin-bottom: 45px;
				}
			}
			&:nth-child(3) {
				width: 100%;
				min-width: 100%;
				margin-right: 0;
				margin-top: 0;
				.serv-inner__cases-list & {
					margin-right: 0;
					margin-top: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 580px) {
	.cases {

		&__list {
			padding-left: 10px;
			padding-right: 10px;
		}

		&__column {
			.serv-inner__cases-list & {
				width: 100%;
				min-width: 100%;
			}
			&:first-child {
				.serv-inner__cases-list & {
					width: 100%;
					min-width: 100%;
				}
			}
			&:nth-child(2) {
				.serv-inner__cases-list & {
					margin-right: 0;
				}
			}
			&:nth-child(3) {
				.serv-inner__cases-list & {
					width: 305px;
					min-width: 305px;
				}
			}
		}
	}
}

@media screen and (max-width: 350px) {
	.cases {
		&__list {
			padding-left: 0;
			padding-right: 0;
		}
		&__column {
			&:first-child {
				width: 100%;
				min-width: 100%;
			}
			&:nth-child(2) {
				margin-right: 0;
			}
			&:nth-child(3) {
				//width: 305px;
				//min-width: 305px;
			}
		}
		&__item-title-part {
			font-size: @20;
		}
		&__fact-text {
			//font-size: @45;
			font-size: @37;
		}
		&__fact-detail {
			.cases__column:nth-child(2) & {
				.svg-icon(icon-detail-4, 72px, 41px);
				left: 110px;
			}
			.cases__column:last-child & {
				.svg-icon-param(icon-detail-3, 45px, 45px, '[fill]: #FF4B4B');
			}
		}
	}
}