.clients {

	&__title {
		margin-bottom: 45px;
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	&__item-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		width: calc(~"(100% - 60px * 3) / 4");
		margin-right: 60px;
		margin-bottom: 60px;
		&:nth-child(4n) {
			margin-right: 0;
		}
	}
	&__item {
		width: 270px;
		text-align: center;
	}
	&__item-logo {
		max-width: 100%;
		filter: grayscale(100%);
		.clients__item:hover & {
			filter: grayscale(0);
		}
	}

	&__text-wrap {
		position: relative;
		margin-bottom: 120px;
	}
	&__text {
		.thin();
		font-size: @55;
		color: @text-color;
		z-index: 20;
		position: relative;
	}
	&__text-shape {
		position: absolute;
		top: -16px;
		left: 376px;
		.svg-icon(icon-detail-hexogen, 76px, 85px);
		.animate-translate();
		transform: translateY(100px);
		transition-delay: 200ms;
		z-index: 10;
	}
}

@media screen and (max-width: 1000px) {
	.clients {
		&__item-wrap {
			width: calc(~"(100% - 60px * 2) / 3");
			&:nth-child(4n) {
				margin-right: 60px;
			}
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.clients {

		&__list {
			margin-bottom: 30px;
		}
		&__item-wrap {
			width: calc(~"(100% - 30px) / 2");
			margin-right: 30px;
			margin-bottom: 30px;
			&:nth-child(4n) {
				margin-right: 30px;
			}
			&:nth-child(3n) {
				margin-right: 30px;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 580px) {
	.clients {
		&__text {
			font-size: @30;
		}
		&__text-shape {
			left: 196px;
			.svg-icon(icon-detail-hexogen, 57px, 63px);
		}
	}
}