.feature-event {
	margin-bottom: 103px;
	text-decoration: none;
	display: block;


	&__container {

	}
	&__bg {
		width: 100%;
		height: 0;
		padding-bottom: 47.826087%;
		top: 0;
		position: relative;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		.item-transition();

		.feature-event[href] & {
			&:hover {
				top: -10px;
				box-shadow: 0 30px 60px rgba(0, 0, 0, .2);
			}
		}


	}
	&__text-wrap {
		padding-top: 53px;
		padding-bottom: 53px;
		position: relative;
	}
	&__title {
		margin-bottom: 28px;
		position: relative;
		z-index: 20;
	}
	&__desc {
		font-size: @55;
		color: @text-color;
		.light();
		line-height: 1.3;
		margin-bottom: 6px;
		position: relative;
		z-index: 20;
	}
	&__info {
		font-size: @25;
		.light();
		color: @text-color;
		position: relative;
		z-index: 20;
	}
	&__detail {
		position: absolute;
		.svg-icon(icon-detail-3, 60px, 60px);
		left: 245px;
		top: 235px;
		z-index: 10;
		.animate-translate();
		transform: translateX(-100px);
		transition-delay: 200ms;
	}
}

@media screen and (max-width: 1200px) {
	.feature-event {
		margin-bottom: 50px;
		&__bg {
			height: 450px;
			padding-bottom: 0;
		}
		&__text-wrap {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		&__title {
			margin-bottom: 20px;
		}
		&__desc {
			font-size: @40;
		}
		&__info {
			font-size: @20;
		}
		&__detail {
			left: 185px;
			top: 165px;
		}
	}

}

@media screen and (max-width: 580px) {
	.feature-event {
		&__desc {
			font-size: @25;
		}
		&__info {
			font-size: @18;
		}
		&__detail {
			left: 175px;
			top: 140px;
			.svg-icon(icon-detail-3, 40px, 40px);
		}
	}
}