.instagram {
	margin-bottom: 100px;

	&__title {
		margin-bottom: 52px;
	}
	&__wrap {
		padding-left: 150px;
		display: flex;
		align-items: flex-start;
	}

	&__main-photo {
		min-width: 25%;
		width: 25%;
		margin-right: 60px;
		position: relative;
	}
	&__main-photo-img {
		max-width: 100%;
	}
	&__main-photo-detail {
		.svg-icon-param(icon-detail-1, 80px, 84px, '[fill]: #FFEC61');
		position: absolute;
		bottom: -42px;
		left: 152px;
		.animate-translate();
		transform: translate(-100px, 50px);
		transition-delay: 200ms;
	}

	&__list {
		margin-right: 120px;
		display: flex;
		flex-wrap: wrap;
		flex-grow: 20;
	}
	&__item {
		width: calc(~"(100% - 60px) / 2");
		margin-right: 60px;
		margin-bottom: 60px;
		&:nth-child(2n) {
			margin-right: 0;
		}
	}
	&__item-img {
		max-width: 100%;
	}

	&__link-wrap {
		width: 300px;
		height: 300px;
		position: relative;
		margin-right: -90px;
	}
	&__link {
		display: block;
		clip-path: polygon(0 0, 0% 100%, 100% 50%);
		width: 300px;
		height: 300px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(10, 27, 26, 0.5);
		}
	}
	&__link-info {
		height: 120px;
		position: absolute;
		left: -60px;
		top: 50%;
		margin-top: -60px;
	}
	&__link-detail {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		background: @red-color;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		.animate-circle();
		transition-delay: 100ms;
	}
	&__link-text {
		font-size: @25;
		color: white;
		.light();
		position: relative;
		z-index: 20;
		margin-top: 30px;
		margin-left: 35px;
		text-decoration: none;
		display: block;
		transition: all .3s ease;
		.no-touchevents & {
			&:hover {
				color: @torquoise-color;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.instagram {

		&__wrap {
			padding-left: 30px;
		}

		&__main-photo {
			margin-right: 30px;
		}

		&__list {
			margin-right: 60px;
		}
		&__item {
			width: calc(~"(100% - 30px) / 2");
			margin-right: 30px;
			margin-bottom: 30px;
		}
	}
}

@media screen and (max-width: 1000px) {
	.instagram {

		&__main-photo {
			margin-right: 15px;
		}
		&__list {
			margin-right: 40px;
		}
		&__item {
			width: calc(~"(100% - 15px) / 2");
			margin-right: 15px;
			margin-bottom: 15px;
		}
		&__link-wrap {
			width: 200px;
			height: 200px;
			margin-right: -40px;
		}
		&__link {
			width: 200px;
			height: 200px;
		}
		&__link-text {
			font-size: @18;
			margin-top: 40px;
			margin-left: 55px;
		}
	}
}

@media screen and (max-width: 700px) {
	.instagram {

		&__wrap {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-left: 0;
		}

		&__main-photo {
			min-width: 400px;
			width: 400px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 15px;
			margin-right: 0;
		}
		&__main-photo-img {
			width: 100%;
		}
		&__main-photo-detail {
			left: 42px;
		}
		&__list {
			width: 100%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-right: 0;
		}
		&__item {
			width: 400px;
			margin-right: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__item-img {
			width: 100%;
		}
		&__link-wrap {
			width: 400px;
			height: 400px;
			margin-right: 0;
		}
		&__link {
			width: 400px;
			height: 400px;
		}
	}
}

@media screen and (max-width: 460px) {
	.instagram {

		&__main-photo {
			min-width: 100%;
			width: 100%;
		}
		&__item {
			width: 100%;
		}
		&__link-wrap {
			width: 300px;
			height: 300px;
		}
		&__link {
			width: 300px;
			height: 300px;
		}
	}
}