.who-we-are {
	margin-bottom: 100px;
	margin-top: 48px;
	position: relative;

	&__container {
		position: relative;
	}
	&__title {
		margin-bottom: 32px;
	}
	&__text {
		position: relative;
		z-index: 20;
	}
	&__detail-1 {
		.svg-icon(icon-detail-1, 160px, 163px);
		position: absolute;
		top: 140px;
		left: -120px;
		z-index: 10;
		.animate-translate();
		transform: translate(-100px, 50px);
		transition-delay: 500ms;
	}
	&__detail-2 {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		background: #FF4B4B;
		position: absolute;
		top: 20px;
		right: 380px;
		z-index: 10;
		.animate-circle();
		transition-delay: 200ms;
	}
	&__detail-3 {
		.svg-icon(icon-detail-2, 136px, 256px);
		position: absolute;
		top: 180px;
		right: -40px;
		z-index: 10;
		.animate-translate();
		transform: translateY(200px);
		transition-delay: 800ms;
	}
}

@media screen and (max-width: 1000px) {
	.who-we-are {
		margin-bottom: 50px;

		&__detail-1 {
			.svg-icon(icon-detail-1, 81px, 84px);
			top: 140px;
			left: 0;
		}
		&__detail-2 {
			width: 90px;
			height: 90px;
		}
		&__detail-3 {
			.svg-icon(icon-detail-2, 64px, 128px);
			top: 180px;
			right: -12px;
		}
	}
}

@media screen and (max-width: 700px) {
	.who-we-are {
		&__detail-2 {
			right: auto;
			left: 205px;
		}
	}
}